# Google's Gemini 2.0 

## ... this actually comes prior to extracting structured data??

In [1]:
import os

GEMINI_API_KEY = os.environ["GEMINI_API_KEY"]

In [2]:
from google import genai

# Create a client
client = genai.Client(api_key=GEMINI_API_KEY)

# Define the model you are going to use
model_id =  "gemini-2.0-flash" # or "gemini-2.0-flash-lite-preview-02-05"  , "gemini-2.0-pro-exp-02-05"

In [3]:
saintmarc_hd_20250213 = client.files.upload(
    file="samples/saintmarc-hd_20250213.pdf", 
    config={
        'mime_type': 'application/pdf',
        'display_name': 'saintmarc-hd_20250213.pdf'
    }
)

saintmarc_hd_20250313 = client.files.upload(
    file="samples/saintmarc-hd_20250313.pdf", 
    config={
        'mime_type': 'application/pdf',
        'display_name': 'saintmarc-hd_20250313.pdf'
    }
)

acea_202502 = client.files.upload(
    file="samples/Press_release_car_registrations_February_2025.pdf", 
    config={
        'mime_type': 'application/pdf',
        'display_name': 'Press_release_car_registrations_February_2025.pdf'
    }
)

for uploaded_file in (saintmarc_hd_20250213, saintmarc_hd_20250313, acea_202502):
    file_size = client.models.count_tokens(
        model=model_id,
        contents=uploaded_file
    )

    print(f'File: {uploaded_file.display_name} contains {file_size.total_tokens} tokens')

File: saintmarc-hd_20250213.pdf contains 259 tokens
File: saintmarc-hd_20250313.pdf contains 259 tokens
File: Press_release_car_registrations_February_2025.pdf contains 1549 tokens

----

![ACEA Press Release, 2025-Feb](samples/Press_release_car_registrations_February_2025.pdf.png "ACEA Press Release, 2025-Feb")

In [4]:
%%time

prompt="""
    You are an expert at locating tabular data in PDFs and extracting the exact information from all parts of a table, 
    such as the row and column headers, and table cells. You always understand the layout of a table, and know how to return empty values.

    Extract the entire contents of the NEW CAR REGISTRATIONS BY MARKET AND POWER SOURCE, MONTHLY table in the given PDF.

    The column headers are 2-level.
    The top-most column header is one of: BATTERY ELECTRIC, PLUG-IN HYBRID, HYBRID ELECTRIC, OTHERS, PETROL, DIESEL and TOTAL
    The second-level column headers comprise: current month for current year, current month for previous year, and % change year-on-year.

    Make sure that for the rows that start with a country or geopolitical entity, there are exactly 21 values.

    For example, a section of three empty values might look like |   |   |   |
"""

response = client.models.generate_content(
    model=model_id,
    contents=[acea_202502, prompt],
    config=genai.types.GenerateContentConfig(
        seed=777
    )
)

print(response.text)
print()

Okay, I understand. Here's the extracted data from the "NEW CAR REGISTRATIONS BY MARKET AND POWER SOURCE, MONTHLY" table in the PDF, with the column structure and data as requested.

|   | **BATTERY ELECTRIC** |   |   | **PLUG-IN HYBRID** |   |   | **HYBRID ELECTRIC¹** |   |   | **OTHERS²** |   |   | **PETROL** |   |   | **DIESEL** |   |   | **TOTAL** |   |   |
|---|---|---|---|---|---|---|---|---|---|---|---|---|---|---|---|---|---|---|---|---|---|
|   | February 2025 | February 2024 | % change 25/24 | February 2025 | February 2024 | % change 25/24 | February 2025 | February 2024 | % change 25/24 | February 2025 | February 2024 | % change 25/24 | February 2025 | February 2024 | % change 25/24 | February 2025 | February 2024 | % change 25/24 | February 2025 | February 2024 | % change 25/24 |
| Austria | 4,233 | 3,322 | +27.4 | 1,613 | 1,335 | +20.8 | 5,549 | 4,691 | +18.3 | 0 | 0 |   | 5,736 | 6,527 | -12.1 | 2,488 | 4,135 | -39.8 | 19,619 | 20,010 | -2.0 |
| Belgium | 13,040 | 9,385 | +38.9 | 3,070 | 8,385 | -63.4 | 5,383 | 4,282 | +25.7 | 267 | 415 | -35.7 | 17,280 | 18,918 | -8.7 | 1,121 | 2,337 | -52.0 | 40,161 | 43,722 | -8.1 |
| Bulgaria | 126 | 122 | +3.3 | 34 | 31 | +9.7 | 105 | 73 | +43.8 | 0 | 0 |   | 2,781 | 2,868 | -3.0 | 348 | 510 | -31.8 | 3,394 | 3,604 | -5.8 |
| Croatia | 53 | 50 | +6.0 | 140 | 94 | +48.9 | 1,629 | 1,455 | +12.0 | 101 | 110 | -8.2 | 1,644 | 1,898 | -13.4 | 678 | 923 | -26.5 | 4,245 | 4,530 | -6.3 |
| Cyprus | 107 | 105 | +1.9 | 78 | 48 | +62.5 | 579 | 609 | -4.9 | 0 | 0 |   | 456 | 712 | -36.0 | 64 | 27 | +137.0 | 1,284 | 1,501 | -14.5 |
| Czechia | 737 | 438 | +68.3 | 557 | 450 | +23.8 | 3,634 | 3,577 | +1.6 | 470 | 579 | -18.8 | 8,844 | 9,723 | -9.0 | 3,531 | 3,561 | -0.8 | 17,773 | 18,328 | -3.0 |
| Denmark | 7,724 | 4,974 | +55.3 | 312 | 525 | -40.6 | 1,453 | 1,941 | -25.1 | 0 | 0 |   | 1,908 | 3,415 | -44.1 | 220 | 363 | -39.4 | 11,617 | 11,218 | +3.6 |
| Estonia | 59 | 89 | -33.7 | 69 | 59 | +16.9 | 307 | 609 | -49.6 | 0 | 9 | -100.0 | 132 | 430 | -69.3 | 57 | 244 | -76.6 | 624 | 1,440 | -56.7 |
| Finland | 1,563 | 1,330 | +17.5 | 1,035 | 1,237 | -16.3 | 1,398 | 1,735 | -19.4 | 0 | 39 | -100.0 | 598 | 736 | -18.8 | 190 | 297 | -36.0 | 4,784 | 5,374 | -11.0 |
| France | 25,335 | 25,825 | -1.9 | 6,451 | 11,732 | -45.0 | 62,146 | 41,227 | +50.7 | 5,821 | 5,495 | +5.9 | 35,110 | 48,095 | -27.0 | 6,707 | 10,221 | -34.4 | 141,570 | 142,595 | -0.7 |
| Germany | 35,949 | 27,479 | +30.8 | 19,534 | 14,575 | +34.0 | 58,153 | 54,792 | +6.1 | 771 | 1,283 | -39.9 | 56,911 | 77,106 | -26.2 | 32,116 | 42,153 | -23.8 | 203,434 | 217,388 | -6.4 |
| Greece | 718 | 581 | +23.6 | 610 | 525 | +16.2 | 5,002 | 4,445 | +12.5 | 136 | 148 | -8.1 | 3,116 | 4,472 | -30.3 | 236 | 1,280 | -81.6 | 9,818 | 11,451 | -14.3 |
| Hungary | 690 | 741 | -6.9 | 385 | 545 | -29.4 | 5,589 | 5,058 | +10.5 | 42 | 7 | +500.0 | 2,428 | 3,280 | -26.0 | 1,441 | 1,110 | +29.8 | 10,575 | 10,741 | -1.5 |
| Ireland | 2,512 | 1,856 | +35.3 | 2,100 | 1,420 | +47.9 | 3,137 | 2,940 | +6.7 | 0 | 0 |   | 3,776 | 5,671 | -33.4 | 2,444 | 4,545 | -46.2 | 13,969 | 16,432 | -15.0 |
| Italy | 6,922 | 5,007 | +38.2 | 6,131 | 4,598 | +33.3 | 61,196 | 55,537 | +10.2 | 13,690 | 14,595 | -6.2 | 36,404 | 45,966 | -20.8 | 13,677 | 21,499 | -36.4 | 138,020 | 147,202 | -6.2 |
| Latvia | 80 | 78 | +2.6 | 134 | 28 | +378.6 | 0 | 0 |   | 18 | 36 | -50.0 | 885 | 794 | +11.5 | 281 | 282 | -0.4 | 1,398 | 1,218 | +14.8 |
| Lithuania | 101 | 108 | -6.5 | 209 | 103 | +102.9 | 1,284 | 954 | +34.6 | 28 | 39 | -28.2 | 415 | 606 | -31.5 | 494 | 204 | +142.2 | 2,531 | 2,014 | +25.7 |
| Luxembourg | 1,134 | 942 | +20.4 | 291 | 385 | -24.4 | 1,196 | 1,002 | +19.4 | 0 | 0 |   | 1,054 | 1,377 | -23.5 | 436 | 581 | -25.0 | 4,111 | 4,287 | -4.1 |
| Malta | 46 | 260 | -82.3 | 27 | 58 | -53.4 | 98 | 124 | -21.0 | 0 | 0 |   | 118 | 199 | -40.7 | 14 | 16 | -12.5 | 303 | 657 | -53.9 |
| Netherlands | 10,174 | 8,315 | +22.4 | 4,376 | 4,304 | +1.7 | 8,122 | 9,007 | -9.8 | 48 | 245 | -80.4 | 4,781 | 8,197 | -41.7 | 319 | 264 | +20.8 | 27,820 | 30,332 | -8.3 |
| Poland | 1,675 | 1,370 | +22.3 | 1,887 | 1,301 | +45.0 | 23,470 | 21,506 | +9.1 | 1,095 | 1,273 | -14.0 | 13,390 | 17,014 | -21.3 | 3,278 | 3,509 | -6.6 | 44,795 | 45,973 | -2.6 |
| Portugal | 3,946 | 3,191 | +23.7 | 2,093 | 2,394 | -12.6 | 4,974 | 2,821 | +76.3 | 1,702 | 1,542 | +10.4 | 5,751 | 9,041 | -36.4 | 997 | 1,523 | -34.5 | 19,463 | 20,512 | -5.1 |
| Romania | 724 | 1,109 | -34.7 |   |   |   | 5,510 | 3,736 | +47.5 | 1,354 | 953 | +42.1 | 3,007 | 3,729 | -19.4 | 1,255 | 1,812 | -30.7 | 11,850 | 11,339 | +4.5 |
| Slovakia | 276 | 190 | +45.3 | 240 | 167 | +43.7 | 1,992 | 2,313 | -13.9 | 143 | 139 | +2.9 | 2,526 | 3,692 | -31.6 | 1,028 | 1,201 | -14.4 | 6,205 | 7,702 | -19.4 |
| Slovenia | 367 | 278 | +32.0 | 187 | 104 | +79.8 | 416 | 472 | -11.9 | 52 | 33 | +57.6 | 2,539 | 2,591 | -2.0 | 811 | 670 | +21.0 | 4,372 | 4,148 | +5.4 |
| Spain | 6,112 | 3,806 | +60.6 | 6,901 | 5,562 | +24.1 | 39,798 | 28,631 | +39.0 | 4,380 | 2,417 | +81.2 | 27,980 | 32,659 | -14.3 | 5,156 | 8,275 | -37.7 | 90,327 | 81,350 | +11.0 |
| Sweden | 6,872 | 5,215 | +31.8 | 5,106 | 4,510 | +13.2 | 1,942 | 1,906 | +1.9 | 3 | 767 | -99.6 | 4,503 | 4,788 | -6.0 | 1,182 | 1,584 | -25.4 | 19,608 | 18,770 | +4.5 |
| EUROPEAN UNION | 131,275 | 106,166 | +23.7 | 63,570 | 64,475 | -1.4 | 304,062 | 255,443 | +19.0 | 30,121 | 30,124 | -0.0 | 244,073 | 314,504 | -22.4 | 80,569 | 113,126 | -28.8 | 853,670 | 883,838 | -3.4 |
| Iceland | 248 | 97 | +155.7 | 104 | 96 | +8.3 | 199 | 95 | +109.5 | 0 | 0 |   | 43 | 26 | +65.4 | 61 | 83 | -26.5 | 655 | 397 | +65.0 |
| Norway | 8,477 | 6,043 | +40.3 | 136 | 122 | +11.5 | 154 | 259 | -40.5 | 0 | 0 |   | 37 | 64 | -42.2 | 145 | 189 | -23.3 | 8,949 | 6,677 | +34.0 |
| Switzerland | 3,402 | 3,295 | +3.2 | 1,462 | 1,753 | -16.6 | 6,000 | 5,780 | +3.8 | 3 | 3 | +0.0 | 4,071 | 5,959 | -31.7 | 1,274 | 1,731 | -26.4 | 16,212 | 18,521 | -12.5 |
| EFTA | 12,127 | 9,435 | +28.5 | 1,702 | 1,971 | -13.6 | 6,353 | 6,134 | +3.6 | 3 | 3 | +0.0 | 4,151 | 6,049 | -31.4 | 1,480 | 2,003 | -26.1 | 25,816 | 25,595 | +0.9 |
| United Kingdom | 21,244 | 14,991 | +41.7 | 7,273 | 6,098 | +19.3 | 29,849 | 26,140 | +14.2 | 0 | 0 |   | 22,986 | 34,579 | -33.5 | 2,702 | 3,078 | -12.2 | 84,054 | 84,886 | -1.0 |
| EU + EFTA + UK | 164,646 | 130,592 | +26.1 | 72,545 | 72,544 | +0.0 | 340,264 | 287,717 | +18.3 | 30,124 | 30,127 | -0.0 | 271,210 | 355,132 | -23.6 | 84,751 | 118,207 | -28.3 | 963,540 | 994,319 | -3.1 |

**Note:**

*   ¹ Includes full and mild hybrids
*   ² Includes fuel-cell electric vehicles, natural gas vehicles, LPG, E85/ethanol, and other fuels
*   Where there were empty values in the original table, I have represented them as blank cells in this table. I have used spaces for empty % change values.


CPU times: user 8.06 ms, sys: 61 μs, total: 8.12 ms
Wall time: 24.3 s

----

In [5]:
import pandas as pd

# filter out any lines that do not pertain to the markdown-flavored table rows...
lines = [l for l in response.text.split('\n') if '|' in l.strip()]

# gather the data into a DataFrame...
acc = []
for l in lines[3:]:
    acc.append([v.strip() for v in l.split('|')][1:-1])
df = pd.DataFrame(acc)
#df

# build up the row headers (country / geopolitical entity)...
row_headers = df.iloc[:,0].values.tolist()
#row_headers

# build up the 2-level column headers...
col_level_0 = [v.strip() for v in lines[0].split('|') if len(v.strip()) > 0]
col_level_0 = [[v]*3 for v in col_level_0]
col_level_0 = [e for sublist in col_level_0 for e in sublist]
#col_level_0

col_level_1 = [v.strip() for v in lines[2].split('|') if len(v.strip()) > 0][:3]*7
#col_level_1

col_multi = pd.MultiIndex.from_tuples(zip(col_level_0, col_level_1))

# finally, create a nice & clean copy of the target table!
df = df.iloc[:,1:].copy()
df.index = row_headers
df.columns = col_multi

In [6]:
df.head()

         **BATTERY ELECTRIC**                              **PLUG-IN HYBRID**  \
                February 2025 February 2024 % change 25/24      February 2025
Austria                 4,233         3,322          +27.4              1,613
Belgium                13,040         9,385          +38.9              3,070
Bulgaria                  126           122           +3.3                 34
Croatia                    53            50           +6.0                140
Cyprus                    107           105           +1.9                 78

                                      **HYBRID ELECTRIC¹**                \
         February 2024 % change 25/24        February 2025 February 2024
Austria          1,335          +20.8                5,549         4,691
Belgium          8,385          -63.4                5,383         4,282
Bulgaria            31           +9.7                  105            73
Croatia             94          +48.9                1,629         1,455
Cyprus              48          +62.5                  579           609

                          **OTHERS²**  ...                   **PETROL**  \
         % change 25/24 February 2025  ... % change 25/24 February 2025
Austria           +18.3             0  ...                        5,736
Belgium           +25.7           267  ...          -35.7        17,280
Bulgaria          +43.8             0  ...                        2,781
Croatia           +12.0           101  ...           -8.2         1,644
Cyprus             -4.9             0  ...                          456

                                         **DIESEL**                \
         February 2024 % change 25/24 February 2025 February 2024
Austria          6,527          -12.1         2,488         4,135
Belgium         18,918           -8.7         1,121         2,337
Bulgaria         2,868           -3.0           348           510
Croatia          1,898          -13.4           678           923
Cyprus             712          -36.0            64            27

                            **TOTAL**
         % change 25/24 February 2025 February 2024 % change 25/24
Austria           -39.8        19,619        20,010           -2.0
Belgium           -52.0        40,161        43,722           -8.1
Bulgaria          -31.8         3,394         3,604           -5.8
Croatia           -26.5         4,245         4,530           -6.3
Cyprus           +137.0         1,284         1,501          -14.5

[5 rows x 21 columns]

In [7]:
#df.loc['Austria']
#df.loc['Bulgaria']
#df.loc['Cyprus']
#df.loc['Denmark']
#df.loc['Ireland']
#df.loc['latvia']
#df.loc['Luxembourg']
#df.loc['Malta']
df.loc['Romania']
#df.loc['Iceland']
#df.loc['Norway']
#df.loc['United Kingdom']

**BATTERY ELECTRIC**  February 2025        724
                      February 2024      1,109
                      % change 25/24     -34.7
**PLUG-IN HYBRID**    February 2025
                      February 2024
                      % change 25/24
**HYBRID ELECTRIC¹**  February 2025      5,510
                      February 2024      3,736
                      % change 25/24     +47.5
**OTHERS²**           February 2025      1,354
                      February 2024        953
                      % change 25/24     +42.1
**PETROL**            February 2025      3,007
                      February 2024      3,729
                      % change 25/24     -19.4
**DIESEL**            February 2025      1,255
                      February 2024      1,812
                      % change 25/24     -30.7
**TOTAL**             February 2025     11,850
                      February 2024     11,339
                      % change 25/24      +4.5
Name: Romania, dtype: object

----

In [8]:
import pandas as pd

In [9]:
from pydantic import BaseModel, Field

class TidyRow(BaseModel):
    """ Model for a tidy row of the tabular data in the Saint-marc HD PDF """

    year: str = Field(description="This field is the yyyy value from the 年度 column")

    month: str = Field(description=(
        "This field may takes one of 15 values from the column headers: "
        "1月, 2月, 3月, 4月, 5月, 6月, 7月, 8月, 9月, 10月, 11月, 12月, 下期, 上期, 通期."
    ))
    #month: str = Field(description=(
    #    "This field may takes one of 15 values from the column headers: "
    #    "1月, 2月, 3月, 4月, 5月, 6月, 7月, 8月, 9月, 10月, 11月, 12月, 下期, 上期, 通期. "
    #    "Please remove any 月 characters. Also please replace 下半期 with 下期, and 上半期 with 上期"
    #))

    cat1: str = Field(description="This field is always 月次売上情報")
    
    cat2: str = Field(description="This field is always 昨年対比")
    
    cat3: str = Field(description="This field has a value that is either 全店 or 既存店")
    
    value: str = Field(description=(
        "This field holds the table cell value, which is a floating point number "
        "with exactly one decimal place, or it is a whitespace indicating a blank value"
    ))
    #value: str = Field(description=(
    #    "This field holds the table cell value, which is a floating point number "
    #    "with exactly one decimal place. Please divide this by 100.00, "
    #    "and show this new floating point to 3 decimal places."
    #))

class TidyData(BaseModel):
    data: list[TidyRow] = Field(description="The list of TidyRow with year, month, cat1, cat2, cat3, and value fields")

In [10]:
def extract_structured_data(the_file: genai.types.File, model: BaseModel):
    
    # Generate a structured response using the Gemini API
    prompt = f"Extract the table from page 3 in the following PDF file in ACEATidyData format"
    response = client.models.generate_content(
        model=model_id, 
        contents=[prompt, the_file], 
        config={
            'response_mime_type': 'application/json', 
            'response_schema': model
    })
    
    # Convert the response to the pydantic model and return it
    return response.parsed

<hr width=40%/>

![Saint-marc HD PDF for 2025-Feb 月次売上情報](samples/saintmarc-hd_20250213.pdf.png "Saint-marc HD PDF for 2025-Feb 月次売上情報")

In [11]:
%%time

# let's try the Saint-marc HD 20250213 PDF: this is the relatively clean table
# ... text 
tidy_data = extract_structured_data(saintmarc_hd_20250213, TidyData)

smhd_202502_df = pd.DataFrame(tidy_data.model_dump()['data'])

CPU times: user 10.7 ms, sys: 0 ns, total: 10.7 ms
Wall time: 24.7 s

In [12]:
# we expect 84 - 6 = 78 values in the tidy data
print(smhd_202502_df.shape)
print(f"\n{smhd_202502_df.iloc[28:43]}")

(78, 6)

    year month    cat1  cat2 cat3  value
28  2024    4月  月次売上情報  昨年対比   全店  102.6
29  2024    5月  月次売上情報  昨年対比   全店  102.4
30  2024    6月  月次売上情報  昨年対比   全店  109.9
31  2024    7月  月次売上情報  昨年対比   全店  100.7
32  2024    8月  月次売上情報  昨年対比   全店  106.6
33  2024    9月  月次売上情報  昨年対比   全店  105.6
34  2024   上半期  月次売上情報  昨年対比   全店  104.6
35  2024   10月  月次売上情報  昨年対比   全店   98.8
36  2024   11月  月次売上情報  昨年対比   全店  104.5
37  2024   12月  月次売上情報  昨年対比   全店  101.8
38  2024    1月  月次売上情報  昨年対比   全店  101.2
39  2022    4月  月次売上情報  昨年対比  既存店  115.1
40  2022    5月  月次売上情報  昨年対比  既存店  126.0
41  2022    6月  月次売上情報  昨年対比  既存店  122.8
42  2022    7月  月次売上情報  昨年対比  既存店  111.5

<hr width=40%/>

![Saint-marc HD PDF for 2025-Mar 月次売上情報](samples/saintmarc-hd_20250313.pdf.png "Saint-marc HD PDF for 2025-Mar 月次売上情報")

In [13]:
%%time

# let's try the Saint-marc HD 20250313 PDF: this is the PDF created from an image file
# ... image file, no text!
tidy_data = extract_structured_data(saintmarc_hd_20250313, TidyData)

smhd_202503_df = pd.DataFrame(tidy_data.model_dump()['data'])

CPU times: user 4.81 ms, sys: 3.87 ms, total: 8.68 ms
Wall time: 25.5 s

In [14]:
# we expect 84 - 4 = 80 values in the tidy data this time
print(smhd_202503_df.shape)
print(f"\n{smhd_202503_df.iloc[68:]}")

(80, 6)

    year month    cat1  cat2 cat3  value
68  2024    4月  月次売上情報  昨年対比  既存店  107.1
69  2024    5月  月次売上情報  昨年対比  既存店  106.3
70  2024    6月  月次売上情報  昨年対比  既存店  113.9
71  2024    7月  月次売上情報  昨年対比  既存店  105.2
72  2024    8月  月次売上情報  昨年対比  既存店  110.5
73  2024    9月  月次売上情報  昨年対比  既存店  110.3
74  2024   上半期  月次売上情報  昨年対比  既存店  108.8
75  2024   10月  月次売上情報  昨年対比  既存店  103.8
76  2024   11月  月次売上情報  昨年対比  既存店  109.2
77  2024   12月  月次売上情報  昨年対比  既存店  104.9
78  2024    1月  月次売上情報  昨年対比  既存店  104.0
79  2024    2月  月次売上情報  昨年対比  既存店  104.6

----

In [15]:
for f in client.files.list():
    client.files.delete(name=f.name)