# Google's Gemini 2.0 

## Information Extraction: Tabular Data

In [1]:
import os

GEMINI_API_KEY = os.environ["GEMINI_API_KEY"]

In [2]:
import pandas as pd

from google import genai
from google.genai import types

from pydantic import BaseModel, Field

In [3]:
# Create a client
client = genai.Client(api_key=GEMINI_API_KEY)

# Specify the model you are going to use
model_id =  "gemini-2.0-flash" # or "gemini-2.0-flash-lite-preview-02-05"  , "gemini-2.0-pro-exp-02-05"

----

#### PDF ...

Since the PDF file in our example is less than 20MB, we can send its contents inline with our request to the model.

In [4]:
os.stat("samples/Press_release_car_registrations_February_2025.pdf")

os.stat_result(st_mode=33188, st_ino=927053, st_dev=2049, st_nlink=1, st_uid=1001, st_gid=1002, st_size=186261, st_atime=1745298940, st_mtime=1744864115, st_ctime=1744864115)

In [5]:
with open("samples/Press_release_car_registrations_February_2025.pdf", "rb") as f:
      file_bytes = f.read()

pdf_file_part = types.Part.from_bytes(
    data=file_bytes,
    mime_type='application/pdf',
)

----

### Function for calling the Google Gen AI model

* specifies that the response will be of MIME type `application/json` in the given `response_schema`
* sets the system instructions
* sends the input file along with the user prompt

In [6]:
def extract_structured_data(model_id:str, prompt:str, file_part:types.Part, response_schema:BaseModel):
    """Given the Google Gen AI model,
       a prompt for the model,
       the raw bytes from a PDF file (max. 20MB!) which we send inline with our request,
       and a schema for the structured response we wish to obtain:

       Return a structured response (MIME type application/json) for the given prompt.
    """
    response = client.models.generate_content(
        model=model_id,

        config=types.GenerateContentConfig(
            system_instruction=SYSTEM_LEVEL_INSTRUCTION,
            response_mime_type='application/json', 
            response_schema=response_schema,
            seed=42
        ),
        
        contents=[
            file_part,            
            prompt,
        ]
    )
    
    # Convert the response to the Pydantic model and return it
    #print(response)
    return response.parsed

----

In [7]:
SYSTEM_LEVEL_INSTRUCTION = (
    "You are an expert data analyst, specializing in information extraction from PDFs.  "
    "You especially enjoy parsing out tabular data, always being completely accurate when extracting table parts "
    "such as the row and column headers, and table cells. "
    "You always understand the layout of a table, and know how to return empty values."
).strip()

----

### ACEA Press Release, 2025-Feb

![ACEA Press Release, page 3, NEW CAR REGISTRATIONS BY MARKET AND POWER SOURCE MONTHLY, 2025-Feb](samples/Press_release_car_registrations_February_2025_p3.png "NEW CAR REGISTRATIONS BY MARKET AND POWER SOURCE MONTHLY, page 3, ACEA Press Release, 2025-Feb")

c.f. NEW CAR REGISTRATIONS BY MARKET AND POWER SOURCE MONTHLY on page 3, [samples/Press_release_car_registrations_February_2025.pdf](samples/Press_release_car_registrations_February_2025.pdf)

### Pydantic models describing the response structure

#### NEW CAR REGISTRATIONS BY MARKET AND POWER SOURCE MONTHLY

c.f. page 3 of the PDF

In [8]:
class Table1Row(BaseModel):
    name: str = Field(description="name of country or geopolitical entity for this table row")
    
    values: list[str] = Field(description=(
        "list of exactly 21 values, 3 for each the following major column category: BATTERY ELECTRIC, PLUG-IN HYBRID, HYBRID ELECTRIC, OTHERS, PETROL, DIESEL, and TOTAL. if any of the values are blank or missing, represent with an ??"
    ))

class Table1(BaseModel):
    rows: list[Table1Row] = Field(description="List of Table1Row objects that make up the table")

In [9]:
%%time

prompt="""
Retrieve the entire contents for the NEW CAR REGISTRATIONS BY MARKET AND POWER SOURCE, MONTHLY table in the given PDF.

Parse this table row by row, from left to right.

There are 7 major column categories:
- BATTERY ELECTRIC
- PLUG-IN HYBRID
- HYBRID ELECTRIC
- OTHERS
- PETROL
- DIESEL
- TOTAL

Each major column category has 3 values for:
- current month in current year
- current month in previous year
- % change current yy / previous yy

If any of the 3 values in a major column category are missing or empty, represent that value with ??.

Be aware that it is possible for all 3 values in a major column category to be empty!
""".strip()

table_data = extract_structured_data(model_id, prompt, pdf_file_part, Table1)

CPU times: user 22.3 ms, sys: 478 μs, total: 22.8 ms
Wall time: 32.4 s

In [10]:
row_headers, data = [], []
for row in table_data.model_dump()['rows']:
    row_headers.append(row['name'])
    data.append(row['values'])

df = pd.DataFrame(data, index=row_headers)
df.replace('??', '', inplace=True)

print(df.shape)
print()
df

(34, 21)

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20
Austria,"4,233","3,322",+27.4,"1,613","1,335",+20.8,"5,549","4,691",+18.3,0,...,,"5,736","6,527",-12.1,"2,488","4,135",-39.8,"19,619","20,010",-2.0
Belgium,"13,040","9,385",+38.9,"3,070","8,385",-63.4,"5,383","4,282",+25.7,267,...,-35.7,"17,280","18,918",-8.7,"1,121","2,337",-52.0,"40,161","43,722",-8.1
Bulgaria,126,122,+3.3,34,31,+9.7,105,73,+43.8,0,...,,"2,781","2,868",-3.0,348,510,-31.8,"3,394","3,604",-5.8
Croatia,53,50,+6.0,140,94,+48.9,"1,629","1,455",+12.0,101,...,-8.2,"1,644","1,898",-13.4,678,923,-26.5,"4,245","4,530",-6.3
Cyprus,107,105,+1.9,78,48,+62.5,579,609,-4.9,0,...,,456,712,-36.0,64,27,+137.0,"1,284","1,501",-14.5
Czechia,737,438,+68.3,557,450,+23.8,"3,634","3,577",+1.6,470,...,-18.8,"8,844","9,723",-9.0,"3,531","3,561",-0.8,"17,773","18,328",-3.0
Denmark,"7,724","4,974",+55.3,312,525,-40.6,"1,453","1,941",-25.1,0,...,,"1,908","3,415",-44.1,220,363,-39.4,"11,617","11,218",+3.6
Estonia,59,89,-33.7,69,59,+16.9,307,609,-49.6,0,...,-100.0,132,430,-69.3,57,244,-76.6,624,"1,440",-56.7
Finland,"1,563","1,330",+17.5,"1,035","1,237",-16.3,"1,398","1,735",-19.4,0,...,-100.0,598,736,-18.8,190,297,-36.0,"4,784","5,374",-11.0
France,25.335,"25,825",-1.9,"6,451","11,732",-45.0,"62,146","41,227",+50.7,"5,821",...,+5.9,"35,110","48,095",-27.0,"6,707","10,221",-34.4,"141,570","142,595",-0.7
Germany,"35,949","27,479",+30.8,"19,534","14,575",+34.0,"58,153","54,792",+6.1,771,...,-39.9,"56,911","77,106",-26.2,"32,116","42,153",-23.8,"203,434","217,388",-6.4
Greece,718,581,+23.6,610,525,+16.2,"5,002","4,445",+12.5,136,...,-8.1,"3,116","4,472",-30.3,236,"1,280",-81.6,"9,818","11,451",-14.3
Hungary,690,741,-6.9,385,545,-29.4,"5,589","5,058",+10.5,42,...,+500.0,"2,428","3,280",-26.0,"1,441","1,110",+29.8,"10,575","10,741",-1.5
Ireland,"2,512","1,856",+35.3,"2,100","1,420",+47.9,"3,137","2,940",+6.7,0,...,,"3,776","5,671",-33.4,"2,444","4,545",-46.2,"13,969","16,432",-15.0
Italy,6.922,"5,007",+38.2,"6,131","4,598",+33.3,"61,196","55,537",+10.2,"13,690",...,-6.2,"36,404","45,966",-20.8,"13,677","21,499",-36.4,"138,020","147,202",-6.2
Latvia,80,78,+2.6,134,28,+378.6,0,0,,18,...,-50.0,885,794,+11.5,281,282,-0.4,"1,398","1,218",+14.8
Lithuania,101,108,-6.5,209,103,+102.9,"1,284",954,+34.6,28,...,-28.2,415,606,-31.5,494,204,+142.2,"2,531","2,014",+25.7
Luxembourg,"1,134",942,+20.4,291,385,-24.4,"1,196","1,002",+19.4,0,...,,"1,054","1,377",-23.5,436,581,-25.0,"4,111","4,287",-4.1
Malta,46,260,-82.3,27,58,-53.4,98,124,-21.0,0,...,,118,199,-40.7,14,16,-12.5,303,657,-53.9
Netherlands,"10,174","8,315",+22.4,"4,376","4,304",+1.7,"8,122","9,007",-9.8,48,...,-80.4,"4,781","8,197",-41.7,319,264,+20.8,"27,820","30,332",-8.3
Poland,"1,675","1,370",+22.3,"1,887","1,301",+45.0,"23,470","21,506",+9.1,"1,095",...,-14.0,"13,390","17,014",-21.3,"3,278","3,509",-6.6,"44,795","45,973",-2.6
Portugal,"3,946","3,191",+23.7,"2,093","2,394",-12.6,"4,974","2,821",+76.3,"1,702",...,+10.4,"5,751","9,041",-36.4,997,1.523,-34.5,"19,463","20,512",-5.1
Romania,724,"1,109",-34.7,,,,"5,510","3,736",+47.5,"1,354",...,+42.1,"3,007","3,729",-19.4,"1,255","1,812",-30.7,"11,850","11,339",+4.5
Slovakia,276,190,+45.3,240,167,+43.7,"1,992","2,313",-13.9,143,...,+2.9,"2,526","3,692",-31.6,"1,028","1,201",-14.4,"6,205","7,702",-19.4
Slovenia,367,278,+32.0,187,104,+79.8,416,472,-11.9,52,...,+57.6,"2,539","2,591",-2.0,811,670,+21.0,"4,372","4,148",+5.4
Spain,"6,112","3,806",+60.6,"6,901","5,562",+24.1,"39,798","28,631",+39.0,"4,380",...,+81.2,"27,980","32,659",-14.3,"5,156","8,275",-37.7,"90,327","81,350",+11.0
Sweden,"6,872","5,215",+31.8,"5,106","4,510",+13.2,"1,942","1,906",+1.9,3,...,-99.6,"4,503","4,788",-6.0,"1,182","1,584",-25.4,"19,608","18,770",+4.5
EUROPEAN UNION,"131,275","106,166",+23.7,"63,570","64,475",-1.4,"304,062","255,443",+19.0,"30,121",...,-0.0,"244,073","314,504",-22.4,"80,569","113,126",-28.8,"853,670","883,838",-3.4
Iceland,248,97,+155.7,104,96,+8.3,199,95,+109.5,0,...,,43,26,+65.4,61,83,-26.5,655,397,+65.0
Norway,"8,477","6,043",+40.3,136,122,+11.5,154,259,-40.5,0,...,,37,64,-42.2,145,189,-23.3,"8,949","6,677",+34.0
Switzerland,"3,402","3,295",+3.2,"1,462","1,753",-16.6,"6,000","5,780",+3.8,3,...,+0.0,"4,071","5,959",-31.7,"1,274","1,731",-26.4,"16,212","18,521",-12.5
EFTA,"12,127","9,435",+28.5,"1,702","1,971",-13.6,"6,353","6,134",+3.6,3,...,+0.0,"4,151","6,049",-31.4,"1,480","2,003",-26.1,"25,816","25,595",+0.9
United Kingdom,"21,244","14,991",+41.7,"7,273","6,098",+19.3,"29,849","26,140",+14.2,0,...,,"22,986","34,579",-33.5,"2,702","3,078",-12.2,"84,054","84,886",-1.0
EU + EFTA + UK,"164,646","130,592",+26.1,"72,545","72,544",+0.0,"340,264","287,717",+18.3,"30,124",...,-0.0,"271,210","355,132",-23.6,"84,751","118,207",-28.3,"963,540","994,319",-3.1

In [11]:
df.loc[[
    'Austria',
    'Bulgaria',
    'Cyprus',
    'Denmark',
    'Ireland',
    'Latvia',
    'Luxembourg', 
    'Malta',
    'Romania',    # empty values at indices 3, 4, 5!
    'Iceland', 
    'Norway',
    'United Kingdom'
]].T

,Austria,Bulgaria,Cyprus,Denmark,Ireland,Latvia,Luxembourg,Malta,Romania,Iceland,Norway,United Kingdom
0,"4,233",126,107,"7,724","2,512",80,"1,134",46,724,248,"8,477","21,244"
1,"3,322",122,105,"4,974","1,856",78,942,260,"1,109",97,"6,043","14,991"
2,+27.4,+3.3,+1.9,+55.3,+35.3,+2.6,+20.4,-82.3,-34.7,+155.7,+40.3,+41.7
3,"1,613",34,78,312,"2,100",134,291,27,,104,136,"7,273"
4,"1,335",31,48,525,"1,420",28,385,58,,96,122,"6,098"
5,+20.8,+9.7,+62.5,-40.6,+47.9,+378.6,-24.4,-53.4,,+8.3,+11.5,+19.3
6,"5,549",105,579,"1,453","3,137",0,"1,196",98,"5,510",199,154,"29,849"
7,"4,691",73,609,"1,941","2,940",0,"1,002",124,"3,736",95,259,"26,140"
8,+18.3,+43.8,-4.9,-25.1,+6.7,,+19.4,-21.0,+47.5,+109.5,-40.5,+14.2
9,0,0,0,0,0,18,0,0,"1,354",0,0,0
10,0,0,0,0,0,36,0,0,953,0,0,0
11,,,,,,-50.0,,,+42.1,,,
12,"5,736","2,781",456,"1,908","3,776",885,"1,054",118,"3,007",43,37,"22,986"
13,"6,527","2,868",712,"3,415","5,671",794,"1,377",199,"3,729",26,64,"34,579"
14,-12.1,-3.0,-36.0,-44.1,-33.4,+11.5,-23.5,-40.7,-19.4,+65.4,-42.2,-33.5
15,"2,488",348,64,220,"2,444",281,436,14,"1,255",61,145,"2,702"
16,"4,135",510,27,363,"4,545",282,581,16,"1,812",83,189,"3,078"
17,-39.8,-31.8,+137.0,-39.4,-46.2,-0.4,-25.0,-12.5,-30.7,-26.5,-23.3,-12.2
18,"19,619","3,394","1,284","11,617","13,969","1,398","4,111",303,"11,850",655,"8,949","84,054"
19,"20,010","3,604","1,501","11,218","16,432","1,218","4,287",657,"11,339",397,"6,677","84,886"
20,-2.0,-5.8,-14.5,+3.6,-15.0,+14.8,-4.1,-53.9,+4.5,+65.0,+34.0,-1.0

In [12]:
df.to_csv('samples/acea_1_202502_raw.csv', encoding='CP932', header=False)

----

### Pydantic models describing the response structure

#### NEW CAR REGISTRATIONS BY MANUFACTURER EU + EFTA + UK

![ACEA Press Release, page 6, NEW CAR REGISTRATIONS BY MANUFACTURER EU + EFTA + UK, 2025-Feb](samples/Press_release_car_registrations_February_2025_p6.png "NEW CAR REGISTRATIONS BY MANUFACTURER EU + EFTA + UK, page 6, ACEA Press Release, 2025-Feb")

c.f. NEW CAR REGISTRATIONS BY MANUFACTURER EU + EFTA + UK on page 6, [samples/Press_release_car_registrations_February_2025.pdf](samples/Press_release_car_registrations_February_2025.pdf)

In [13]:
class Table2Row(BaseModel):
    name: str = Field(description="name of automobile manufacturer or manufacturer group for this table row. do not include any any superscript characters")
    
    values: list[str] = Field(description=(
        "list of exactly 10 values, 5 for each the following major column categories: current month, and JANUARY-current month. if any of the values are blank or missing, represent with an ??"
    ))

class Table2(BaseModel):
    rows: list[Table2Row] = Field(description="List of Table2Row objects that make up the table")

In [14]:
%%time

prompt="""
Retrieve the entire contents for the NEW CAR REGISTRATIONS BY MANUFACTURER EU + EFTA + UK table on in the given PDF.

Parse this table row by row, from left to right.

There are 2 major column categories:
- current month
- JANUARY-current month

For each major column category, you must extract exactly 5 values:
- % share current year
- % share previous year
- Units current year
- Units previous year
- % change current yy / previous yy

If there are any values that are missing or empty, represent that value with ??.
""".strip()

table_data = extract_structured_data(model_id, prompt, pdf_file_part, Table2)
#table_data

CPU times: user 9.35 ms, sys: 431 μs, total: 9.78 ms
Wall time: 24.1 s

In [15]:
row_headers, data = [], []
for row in table_data.model_dump()['rows']:
    row_headers.append(row['name'])
    data.append(row['values'])

df = pd.DataFrame(data, index=row_headers)
df.replace('??', '', inplace=True)

print(df.shape)
print()
df

(46, 10)

,0,1,2,3,4,5,6,7,8,9
Volkswagen Group,25.9,25.0,"249,873","248,647",+0.5,26.4,25.0,"516,709","503,487",+2.6
Volkswagen,10.8,9.7,"103,681","96,562",+7.4,11.1,9.6,"216,565","193,379",+12.0
Skoda,5.7,5.9,"55,324","58,854",-6.0,5.8,6.0,"114,314","120,441",-5.1
Audi,4.8,4.6,"46,593","45,927",+1.5,4.9,4.9,"95,822","99,291",-3.5
Cupra,2.1,1.6,"20,397","15,418",+32.3,2.1,1.4,"40,869","28,728",+42.3
Seat,1.8,2.2,"16,998","21,884",-22.3,1.7,2.1,"33,575","41,946",-20.0
Porsche,0.7,1.0,"6,267","9,486",-33.9,0.7,0.9,"14,218","18,524",-23.2
Others,0.1,0.1,613,516,+18.8,0.1,0.1,"1,346","1,178",+14.3
Stellantis,16.2,18.7,"155,970","186,151",-16.2,15.8,18.4,"310,091","369,469",-16.1
Peugeot,5.8,5.8,"56,016","58,094",-3.6,5.7,5.7,"111,443","115,484",-3.5
Citroen,3.2,3.7,"31,035","36,661",-15.3,3.0,3.4,"58,227","69,319",-16.0
Opel/Vauxhall,2.6,3.4,"25,173","34,250",-26.5,2.7,3.7,"53,620","73,605",-27.2
Fiat,2.4,3.4,"22,980","34,116",-32.6,2.4,3.2,"46,589","63,766",-26.9
Jeep,1.2,1.1,"11,384","11,271",+1.0,1.1,1.2,"22,405","23,424",-4.4
Alfa Romeo,0.5,0.4,"4,994","3,605",+38.5,0.5,0.4,"9,788","7,555",+29.6
DS,0.3,0.4,"2,868","3,539",-19.0,0.3,0.4,"5,060","7,256",-30.3
Lancia/Chrysler,0.1,0.4,"1,155","4,172",-72.3,0.1,0.4,"2,208","8,098",-72.7
Others,0.0,0.0,365,443,-17.6,0.0,0.0,751,962,-21.9
Renault Group,11.1,9.7,"107,134","96,653",+10.8,10.5,9.4,"205,005","189,550",+8.2
Renault,6.1,5.0,"58,830","49,521",+18.8,5.5,4.5,"107,258","90,541",+18.5
Dacia,4.9,4.7,"47,558","46,832",+1.6,4.9,4.9,"96,532","98,498",-2.0
Alpine,0.1,0.0,746,300,+148.7,0.1,0.0,"1,215",511,+137.8
Hyundai Group,7.6,8.0,"73,294","79,172",-7.4,8.0,8.2,"156,526","165,691",-5.5
Hyundai,3.9,4.0,"37,210","40,093",-7.2,4.0,4.1,"78,680","81,875",-3.9
Kia,3.7,3.9,"36,084","39,079",-7.7,4.0,4.2,"77,846","83,816",-7.1
Toyota Group,7.4,7.6,"71,105","75,438",-5.7,7.7,7.9,"151,589","159,371",-4.9
Toyota,6.8,7.1,"65,330","70,595",-7.5,7.1,7.4,"138,307","149,325",-7.4
Lexus,0.6,0.5,"5,775","4,843",+19.2,0.7,0.5,"13,282","10,046",+32.2
BMW Group,7.2,6.6,"69,519","65,812",+5.6,7.1,6.9,"139,828","138,118",+1.2
BMW,5.8,5.5,"55,500","54,999",+0.9,5.9,5.8,"115,359","115,830",-0.4
Mini,1.5,1.1,"14,019","10,813",+29.6,1.2,1.1,"24,469","22,288",+9.8
Mercedes-Benz,4.8,4.9,"46,439","48,911",-5.1,4.6,4.6,"90,154","92,703",-2.7
Mercedes,4.7,4.7,"45,580","46,818",-2.6,4.5,4.4,"88,111","88,120",-0.0
Smart,0.1,0.2,859,"2,093",-59.0,0.1,0.2,"2,043","4,583",-55.4
Ford,3.2,3.3,"30,910","32,810",-5.8,3.2,3.4,"62,461","68,702",-9.1
Volvo Cars,2.4,2.8,"23,525","27,681",-15.0,2.4,2.7,"47,205","53,613",-12.0
Nissan,2.4,2.4,"23,044","24,055",-4.2,2.5,2.6,"48,051","51,292",-6.3
SAIC Motor,2.1,1.6,"19,927","15,804",+26.1,2.0,1.6,"39,538","32,611",+21.2
Tesla,1.8,2.8,"16,888","28,182",-40.1,1.4,2.3,"26,619","46,343",-42.6
Suzuki,1.6,1.9,"15,347","18,584",-17.4,1.5,1.7,"30,155","34,396",-12.3
Mazda,1.2,1.2,"11,513","12,311",-6.5,1.2,1.2,"22,595","24,917",-9.3
Jaguar Land Rover Group,0.8,0.8,"7,637","8,020",-4.8,1.0,1.0,"18,880","20,285",-6.9
Land Rover,0.7,0.7,"7,139","6,708",+6.4,0.9,0.9,"17,402","17,114",+1.7
Jaguar,0.1,0.1,498,"1,312",-62.0,0.1,0.2,"1,478","3,171",-53.4
Honda,0.6,0.5,"5,335","5,413",-1.4,0.5,0.6,"10,329","11,377",-9.2
Mitsubishi,0.4,0.6,"3,490","5,837",-40.2,0.4,0.5,"6,940","10,748",-35.4

In [16]:
df.to_csv('samples/acea_2_202502_raw.csv', encoding='CP932', header=False)

<hr width=40%/>

In [17]:
# housekeeping...
for f in client.files.list():
    client.files.delete(name=f.name)