# Google's Gemini 2.0 

## ... this actually comes prior to extracting structured data??

In [1]:
import os

GEMINI_API_KEY = os.environ["GEMINI_API_KEY"]

In [2]:
from pydantic import BaseModel, Field

In [3]:
import pandas as pd

In [4]:
from google import genai

# Create a client
client = genai.Client(api_key=GEMINI_API_KEY)

# Define the model you are going to use
model_id =  "gemini-2.0-flash" # or "gemini-2.0-flash-lite-preview-02-05"  , "gemini-2.0-pro-exp-02-05"

In [5]:
for f in client.files.list():
    client.files.delete(name=f.name)

In [6]:
saintmarc_hd_20250213 = client.files.upload(
    file="samples/saintmarc-hd_20250213.pdf", 
    config={
        'mime_type': 'application/pdf',
        'display_name': 'saintmarc-hd_20250213.pdf'
    }
)

saintmarc_hd_20250313 = client.files.upload(
    file="samples/saintmarc-hd_20250313.pdf", 
    config={
        'mime_type': 'application/pdf',
        'display_name': 'saintmarc-hd_20250313.pdf'
    }
)

acea_202502 = client.files.upload(
    file="samples/Press_release_car_registrations_February_2025.pdf", 
    config={
        'mime_type': 'application/pdf',
        'display_name': 'Press_release_car_registrations_February_2025.pdf'
    }
)

for uploaded_file in (saintmarc_hd_20250213, saintmarc_hd_20250313, acea_202502):
    file_size = client.models.count_tokens(
        model=model_id,
        contents=uploaded_file
    )

    print(f'File: {uploaded_file.display_name} contains {file_size.total_tokens} tokens')

File: saintmarc-hd_20250213.pdf contains 259 tokens
File: saintmarc-hd_20250313.pdf contains 259 tokens
File: Press_release_car_registrations_February_2025.pdf contains 1549 tokens

### Function for calling the Google Gen AI model

In [7]:
def extract_structured_data(model_id:str, prompt:str, the_file:genai.types.File, response_schema:BaseModel):
    """Given the Google Gen AI model,
       a prompt for the model,
       a file from which we will extract information,
       and a schema for the structured response we wish to obtain:

       Return a structured response for the given prompt.
    """
    response = client.models.generate_content(
        model=model_id,
        contents=[prompt, the_file], 
        config={
            'response_mime_type': 'application/json', 
            'response_schema': response_schema
    })
    
    # Convert the response to the Pydantic model and return it
    return response.parsed

----

### ACEA Press Release, 2025-Feb

![ACEA Press Release, 2025-Feb](samples/Press_release_car_registrations_February_2025.pdf.png "ACEA Press Release, 2025-Feb")

### Pydantic models describing the response structure

In [8]:
class ACEARow(BaseModel):
    name: str = Field(description="This field is the name of the country or geopolitical entity in the header of each table row")

    values: list[str] = Field(description=(
        "This is a list of cell values making up a single row in the table. Represent a missing value with ??"
    ))

class ACEATable(BaseModel):
    data: list[ACEARow] = Field(description=(
        "This is a list of the ACEARow objects"
    ))

In [9]:
%%time

prompt="""
You are an expert at locating tabular data in PDFs and extracting the exact information from all parts of a table, 
such as the row and column headers, and table cells. You always understand the layout of a table, and know how to return empty values.

Extract all columns for major column categories of BATTERY ELECTRIC, PLUG-IN HYBRID, HYBRID ELECTRIC, OTHERS, PETROL, DIESEL, and TOTAL in the NEW CAR REGISTRATIONS BY MARKET AND POWER SOURCE, MONTHLY table in the given PDF.
For each major column category, you must extract 3 values for: month and current year, month and previous year, and % change year-on-year.
Scan each table row from left to right, representing all missing cell values with double question marks.
Represent missing % change year-on-year values with double question marks.

""".strip()

tidy_data = extract_structured_data(model_id, prompt, acea_202502, ACEATable)

#for row in tidy_data.model_dump()['data']:
#    print(row, len(row['values']))

CPU times: user 15.2 ms, sys: 275 Î¼s, total: 15.4 ms
Wall time: 30.5 s

In [10]:
row_headers, data = [], []
for row in tidy_data.model_dump()['data']:
    row_headers.append(row['name'])
    data.append(row['values'])

df = pd.DataFrame(data, index=row_headers)
df.replace('??', '', inplace=True)

print(df.shape)
print()
df

(34, 21)

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20
Austria,"4,233","3,322",+27.4,"1,613","1,335",+20.8,"5,549","4,691",+18.3,0,...,,"5,736","6,527",-12.1,"2,488","4,135",-39.8,"19,619","20,010",-2.0
Belgium,"13,040","9,385",+38.9,"3,070","8,385",-63.4,"5,383","4,282",+25.7,267,...,-35.7,"17,280","18,918",-8.7,"1,121","2,337",-52.0,"40,161","43,722",-8.1
Bulgaria,126,122,+3.3,34,31,+9.7,105,73,+43.8,0,...,,"2,781","2,868",-3.0,348,510,-31.8,"3,394","3,604",-5.8
Croatia,53,50,+6.0,140,94,+48.9,"1,629","1,455",+12.0,101,...,-8.2,"1,644","1,898",-13.4,678,923,-26.5,"4,245","4,530",-6.3
Cyprus,107,105,+1.9,78,48,+62.5,579,609,-4.9,0,...,,456,712,-36.0,64,27,+137.0,"1,284","1,501",-14.5
Czechia,737,438,+68.3,557,450,+23.8,"3,634","3,577",+1.6,470,...,-18.8,"8,844","9,723",-9.0,"3,531","3,561",-0.8,"17,773","18,328",-3.0
Denmark,"7,724","4,974",+55.3,312,525,-40.6,"1,453","1,941",-25.1,0,...,,"1,908","3,415",-44.1,220,363,-39.4,"11,617","11,218",+3.6
Estonia,59,89,-33.7,69,59,+16.9,307,609,-49.6,0,...,-100.0,132,430,-69.3,57,244,-76.6,624,"1,440",-56.7
Finland,"1,563","1,330",+17.5,"1,035","1,237",-16.3,"1,398","1,735",-19.4,0,...,-100.0,598,736,-18.8,190,297,-36.0,"4,784","5,374",-11.0
France,25.335,"25,825",-1.9,"6,451","11,732",-45.0,"62,146","41,227",+50.7,"5,821",...,+5.9,"35,110","48,095",-27.0,"6,707","10,221",-34.4,"141,570","142,595",-0.7
Germany,"35,949","27,479",+30.8,"19,534","14,575",+34.0,"58,153","54,792",+6.1,771,...,-39.9,"56,911","77,106",-26.2,"32,116","42,153",-23.8,"203,434","217,388",-6.4
Greece,718,581,+23.6,610,525,+16.2,"5,002","4,445",+12.5,136,...,-8.1,"3,116","4,472",-30.3,236,"1,280",-81.6,"9,818","11,451",-14.3
Hungary,690,741,-6.9,385,545,-29.4,"5,589","5,058",+10.5,42,...,+500.0,"2,428","3,280",-26.0,"1,441","1,110",+29.8,"10,575","10,741",-1.5
Ireland,"2,512","1,856",+35.3,"2,100","1,420",+47.9,"3,137","2,940",+6.7,0,...,,"3,776","5,671",-33.4,"2,444","4,545",-46.2,"13,969","16,432",-15.0
Italy,6.922,"5,007",+38.2,"6,131","4,598",+33.3,"61,196","55,537",+10.2,"13,690",...,-6.2,"36,404","45,966",-20.8,"13,677","21,499",-36.4,"138,020","147,202",-6.2
Latvia,80,78,+2.6,134,28,+378.6,0,0,,18,...,-50.0,885,794,+11.5,281,282,-0.4,"1,398","1,218",+14.8
Lithuania,101,108,-6.5,209,103,+102.9,"1,284",954,+34.6,28,...,-28.2,415,606,-31.5,494,204,+142.2,"2,531","2,014",+25.7
Luxembourg,"1,134",942,+20.4,291,385,-24.4,"1,196","1,002",+19.4,0,...,,"1,054","1,377",-23.5,436,581,-25.0,"4,111","4,287",-4.1
Malta,46,260,-82.3,27,58,-53.4,98,124,-21.0,0,...,,118,199,-40.7,14,16,-12.5,303,657,-53.9
Netherlands,"10,174","8,315",+22.4,"4,376","4,304",+1.7,"8,122","9,007",-9.8,48,...,-80.4,"4,781","8,197",-41.7,319,264,+20.8,"27,820","30,332",-8.3
Poland,"1,675","1,370",+22.3,"1,887","1,301",+45.0,"23,470","21,506",+9.1,"1,095",...,-14.0,"13,390","17,014",-21.3,"3,278","3,509",-6.6,"44,795","45,973",-2.6
Portugal,"3,946","3,191",+23.7,"2,093","2,394",-12.6,"4,974","2,821",+76.3,"1,702",...,+10.4,"5,751","9,041",-36.4,997,1.523,-34.5,"19,463","20,512",-5.1
Romania,724,"1,109",-34.7,,,,"5,510","3,736",+47.5,"1,354",...,+42.1,"3,007","3,729",-19.4,"1,255","1,812",-30.7,"11,850","11,339",+4.5
Slovakia,276,190,+45.3,240,167,+43.7,"1,992","2,313",-13.9,143,...,+2.9,"2,526","3,692",-31.6,"1,028","1,201",-14.4,"6,205","7,702",-19.4
Slovenia,367,278,+32.0,187,104,+79.8,416,472,-11.9,52,...,+57.6,"2,539","2,591",-2.0,811,670,+21.0,"4,372","4,148",+5.4
Spain,"6,112","3,806",+60.6,"6,901","5,562",+24.1,"39,798","28,631",+39.0,"4,380",...,+81.2,"27,980","32,659",-14.3,"5,156","8,275",-37.7,"90,327","81,350",+11.0
Sweden,"6,872","5,215",+31.8,"5,106","4,510",+13.2,"1,942","1,906",+1.9,3,...,-99.6,"4,503","4,788",-6.0,"1,182","1,584",-25.4,"19,608","18,770",+4.5
EUROPEAN UNION,"131,275","106,166",+23.7,"63,570","64,475",-1.4,"304,062","255,443",+19.0,"30,121",...,-0.0,"244,073","314,504",-22.4,"80,569","113,126",-28.8,"853,670","883,838",-3.4
Iceland,248,97,+155.7,104,96,+8.3,199,95,+109.5,0,...,,43,26,+65.4,61,83,-26.5,655,397,+65.0
Norway,"8,477","6,043",+40.3,136,122,+11.5,154,259,-40.5,0,...,,37,64,-42.2,145,189,-23.3,"8,949","6,677",+34.0
Switzerland,"3,402","3,295",+3.2,"1,462","1,753",-16.6,"6,000","5,780",+3.8,3,...,+0.0,"4,071","5,959",-31.7,"1,274","1,731",-26.4,"16,212","18,521",-12.5
EFTA,"12,127","9,435",+28.5,"1,702","1,971",-13.6,"6,353","6,134",+3.6,3,...,+0.0,"4,151","6,049",-31.4,"1,480","2,003",-26.1,"25,816","25,595",+0.9
United Kingdom,"21,244","14,991",+41.7,"7,273","6,098",+19.3,"29,849","26,140",+14.2,0,...,,"22,986","34,579",-33.5,"2,702","3,078",-12.2,"84,054","84,886",-1.0
EU + EFTA + UK,"164,646","130,592",+26.1,"72,545","72,544",+0.0,"340,264","287,717",+18.3,"30,124",...,-0.0,"271,210","355,132",-23.6,"84,751","118,207",-28.3,"963,540","994,319",-3.1

In [11]:
df.loc['Romania']

0        724
1      1,109
2      -34.7
3
4
5
6      5,510
7      3,736
8      +47.5
9      1,354
10       953
11     +42.1
12     3,007
13     3,729
14     -19.4
15     1,255
16     1,812
17     -30.7
18    11,850
19    11,339
20      +4.5
Name: Romania, dtype: object

<hr width=40%/>

#### Gemini 2.0 Flash with only a prompt

In [12]:
%%time

prompt="""
    You are an expert at locating tabular data in PDFs and extracting the exact information from all parts of a table, 
    such as the row and column headers, and table cells. You always understand the layout of a table, and know how to return empty values.

    Extract the entire contents of the NEW CAR REGISTRATIONS BY MARKET AND POWER SOURCE, MONTHLY table in the given PDF.

    Instructions for the column headers:
    - The column headers are 2-level.
    - The top-most column header is one of: BATTERY ELECTRIC, PLUG-IN HYBRID, HYBRID ELECTRIC, OTHERS, PETROL, DIESEL and TOTAL.
    - Please keep this as plain text without any additional formatting such as bold or italic.
    - For each top-most column header category, there are 3 second-level column headers: current month for current year, current month for previous year, and % change year-on-year.
    - Please remove any superscript or subscript characters as they are not needed. For example, please give OTHERS instead of OTHERSÂ².

    Instructions for the row headers:
    - Make sure that for the rows that start with a country or geopolitical entity.
    
    Instructions for the table cells:
    - In each row for a country or geopolitical entity, there are exactly 21 values.
    - If a cell value is 0, then please return 0.
    - If a value is missing or empty, please represent it with an empty string.
    - For example, a section of three empty values might look like |   |   |   |

""" 

response = client.models.generate_content(
    model=model_id,
    contents=[acea_202502, prompt]
)

print(response.text)
print()

```csv
,BATTERY ELECTRIC,BATTERY ELECTRIC,BATTERY ELECTRIC,PLUG-IN HYBRID,PLUG-IN HYBRID,PLUG-IN HYBRID,HYBRID ELECTRIC,HYBRID ELECTRIC,HYBRID ELECTRIC,OTHERS,OTHERS,OTHERS,PETROL,PETROL,PETROL,DIESEL,DIESEL,DIESEL,TOTAL,TOTAL,TOTAL
,February 2025,February 2024,% change 25/24,February 2025,February 2024,% change 25/24,February 2025,February 2024,% change 25/24,February 2025,February 2024,% change 25/24,February 2025,February 2024,% change 25/24,February 2025,February 2024,% change 25/24,February 2025,February 2024,% change 25/24
Austria,4233,3322,+27.4,1613,1335,+20.8,5549,4691,+18.3,0,0,,5736,6527,-12.1,2488,4135,-39.8,19619,20010,-2.0
Belgium,13040,9385,+38.9,3070,8385,-63.4,5383,4282,+25.7,267,415,-35.7,17280,18918,-8.7,1121,2337,-52.0,40161,43722,-8.1
Bulgaria,126,122,+3.3,34,31,+9.7,105,73,+43.8,0,0,,2781,2868,-3.0,348,510,-31.8,3394,3604,-5.8
Croatia,53,50,+6.0,140,94,+48.9,1629,1455,+12.0,101,110,-8.2,1644,1898,-13.4,678,923,-26.5,4245,4530,-6.3
Cyprus,107,105,+1.9,78,48,+62.5,579,609,-4.9,0,0,,456,712,-36.0,64,27,+137.0,1284,1501,-14.5
Czechia,737,438,+68.3,557,450,+23.8,3634,3577,+1.6,470,579,-18.8,8844,9723,-9.0,3531,3561,-0.8,17773,18328,-3.0
Denmark,7724,4974,+55.3,312,525,-40.6,1453,1941,-25.1,0,0,,1908,3415,-44.1,220,363,-39.4,11617,11218,+3.6
Estonia,59,89,-33.7,69,59,+16.9,307,609,-49.6,0,9,-100.0,132,430,-69.3,57,244,-76.6,624,1440,-56.7
Finland,1563,1330,+17.5,1035,1237,-16.3,1398,1735,-19.4,0,39,-100.0,598,736,-18.8,190,297,-36.0,4784,5374,-11.0
France,25335,25825,-1.9,6451,11732,-45.0,62146,41227,+50.7,5821,5495,+5.9,35110,48095,-27.0,6707,10221,-34.4,141570,142595,-0.7
Germany,35949,27479,+30.8,19534,14575,+34.0,58153,54792,+6.1,771,1283,-39.9,56911,77106,-26.2,32116,42153,-23.8,203434,217388,-6.4
Greece,718,581,+23.6,610,525,+16.2,5002,4445,+12.5,136,148,-8.1,3116,4472,-30.3,236,1280,-81.6,9818,11451,-14.3
Hungary,690,741,-6.9,385,545,-29.4,5589,5058,+10.5,42,7,+500.0,2428,3280,-26.0,1441,1110,+29.8,10575,10741,-1.5
Ireland,2512,1856,+35.3,2100,1420,+47.9,3137,2940,+6.7,0,0,,3776,5671,-33.4,2444,4545,-46.2,13969,16432,-15.0
Italy,6922,5007,+38.2,6131,4598,+33.3,61196,55537,+10.2,13690,14595,-6.2,36404,45966,-20.8,13677,21499,-36.4,138020,147202,-6.2
Latvia,80,78,+2.6,134,28,+378.6,0,0,,18,36,-50.0,885,794,+11.5,281,282,-0.4,1398,1218,+14.8
Lithuania,101,108,-6.5,209,103,+102.9,1284,954,+34.6,28,39,-28.2,415,606,-31.5,494,204,+142.2,2531,2014,+25.7
Luxembourg,1134,942,+20.4,291,385,-24.4,1196,1002,+19.4,0,0,,1054,1377,-23.5,436,581,-25.0,4111,4287,-4.1
Malta,46,260,-82.3,27,58,-53.4,98,124,-21.0,0,0,,118,199,-40.7,14,16,-12.5,303,657,-53.9
Netherlands,10174,8315,+22.4,4376,4304,+1.7,8122,9007,-9.8,48,245,-80.4,4781,8197,-41.7,319,264,+20.8,27820,30332,-8.3
Poland,1675,1370,+22.3,1887,1301,+45.0,23470,21506,+9.1,1095,1273,-14.0,13390,17014,-21.3,3278,3509,-6.6,44795,45973,-2.6
Portugal,3946,3191,+23.7,2093,2394,-12.6,4974,2821,+76.3,1702,1542,+10.4,5751,9041,-36.4,997,1523,-34.5,19463,20512,-5.1
Romania,724,1109,-34.7,,5510,3736,+47.5,1354,953,+42.1,3007,3729,-19.4,1255,1812,-30.7,11850,11339,+4.5
Slovakia,276,190,+45.3,240,167,+43.7,1992,2313,-13.9,143,139,+2.9,2526,3692,-31.6,1028,1201,-14.4,6205,7702,-19.4
Slovenia,367,278,+32.0,187,104,+79.8,416,472,-11.9,52,33,+57.6,2539,2591,-2.0,811,670,+21.0,4372,4148,+5.4
Spain,6112,3806,+60.6,6901,5562,+24.1,39798,28631,+39.0,4380,2417,+81.2,27980,32659,-14.3,5156,8275,-37.7,90327,81350,+11.0
Sweden,6872,5215,+31.8,5106,4510,+13.2,1942,1906,+1.9,3,767,-99.6,4503,4788,-6.0,1182,1584,-25.4,19608,18770,+4.5
EUROPEAN UNION,131275,106166,+23.7,63570,64475,-1.4,304062,255443,+19.0,30121,30124,-0.0,244073,314504,-22.4,80569,113126,-28.8,853670,883838,-3.4
Iceland,248,97,+155.7,104,96,+8.3,199,95,+109.5,0,0,,43,26,+65.4,61,83,-26.5,655,397,+65.0
Norway,8477,6043,+40.3,136,122,+11.5,154,259,-40.5,0,0,,37,64,-42.2,145,189,-23.3,8949,6677,+34.0
Switzerland,3402,3295,+3.2,1462,1753,-16.6,6000,5780,+3.8,3,3,+0.0,4071,5959,-31.7,1274,1731,-26.4,16212,18521,-12.5
EFTA,12127,9435,+28.5,1702,1971,-13.6,6353,6134,+3.6,3,3,+0.0,4151,6049,-31.4,1480,2003,-26.1,25816,25595,+0.9
United Kingdom,21244,14991,+41.7,7273,6098,+19.3,29849,26140,+14.2,0,0,,22986,34579,-33.5,2702,3078,-12.2,84054,84886,-1.0
EU + EFTA + UK,164646,130592,+26.1,72545,72544,+0.0,340264,287717,+18.3,30124,30127,-0.0,271210,355132,-23.6,84751,118207,-28.3,963540,994319,-3.1
```

CPU times: user 9.03 ms, sys: 480 Î¼s, total: 9.51 ms
Wall time: 18.3 s

----

### Gemini 2.0 Flash with prompt + structured response instruction: Tidy data formatting

Extracting the table from the Saint-Marc Holdings PDF.

In [15]:
class TidyRow(BaseModel):
    """ Model for a tidy row of the tabular data in the Saint-marc HD PDF """

    year: str = Field(description="This field is the yyyy value from the å¹´åº¦ column")

    month: str = Field(description=(
        "This field may takes one of 15 values from the column headers: "
        "1æ, 2æ, 3æ, 4æ, 5æ, 6æ, 7æ, 8æ, 9æ, 10æ, 11æ, 12æ, ä¸æ, ä¸æ, éæ."
    ))
    #month: str = Field(description=(
    #    "This field may takes one of 15 values from the column headers: "
    #    "1æ, 2æ, 3æ, 4æ, 5æ, 6æ, 7æ, 8æ, 9æ, 10æ, 11æ, 12æ, ä¸æ, ä¸æ, éæ. "
    #    "Please remove any æ characters. Also please replace ä¸åæ with ä¸æ, and ä¸åæ with ä¸æ"
    #))

    cat1: str = Field(description="This field is always ææ¬¡å£²ä¸æå ±")
    
    cat2: str = Field(description="This field is always æ¨å¹´å¯¾æ¯")
    
    cat3: str = Field(description="This field has a value that is either å¨åº or æ¢å­åº")
    
    value: str = Field(description=(
        "This field holds the table cell value, which is a floating point number "
        "with exactly one decimal place, or it is a whitespace indicating a blank value"
    ))
    #value: str = Field(description=(
    #    "This field holds the table cell value, which is a floating point number "
    #    "with exactly one decimal place. Please divide this by 100.00, "
    #    "and show this new floating point to 3 decimal places."
    #))

class TidyData(BaseModel):
    data: list[TidyRow] = Field(description="The list of TidyRow with year, month, cat1, cat2, cat3, and value fields")

<hr width=40%/>

### Saint-marc HD PDF for 2025-Jan ææ¬¡å£²ä¸æå ±

![Saint-marc HD PDF for 2025-Jan ææ¬¡å£²ä¸æå ±](samples/saintmarc-hd_20250213.pdf.png "Saint-marc HD PDF for 2025-Jan ææ¬¡å£²ä¸æå ±")

In [16]:
%%time

prompt = """
Extract the ææ¬¡å£²ä¸æå ± table in the following PDF file in TidyData format
""".strip()

# let's try the Saint-marc HD 20250213 PDF: this is the relatively clean table
# ... text 
tidy_data = extract_structured_data(model_id, prompt, saintmarc_hd_20250213, TidyData)

smhd_202502_df = pd.DataFrame(tidy_data.model_dump()['data'])

CPU times: user 12.4 ms, sys: 431 Î¼s, total: 12.8 ms
Wall time: 24.9 s

In [17]:
# we expect 84 - 6 = 78 values in the tidy data
print(smhd_202502_df.shape)
print(f"\n{smhd_202502_df.iloc[28:43]}")

(78, 6)

    year month    cat1  cat2 cat3  value
28  2024    4æ  ææ¬¡å£²ä¸æå ±  æ¨å¹´å¯¾æ¯   å¨åº  102.6
29  2024    5æ  ææ¬¡å£²ä¸æå ±  æ¨å¹´å¯¾æ¯   å¨åº  102.4
30  2024    6æ  ææ¬¡å£²ä¸æå ±  æ¨å¹´å¯¾æ¯   å¨åº  109.9
31  2024    7æ  ææ¬¡å£²ä¸æå ±  æ¨å¹´å¯¾æ¯   å¨åº  100.7
32  2024    8æ  ææ¬¡å£²ä¸æå ±  æ¨å¹´å¯¾æ¯   å¨åº  106.6
33  2024    9æ  ææ¬¡å£²ä¸æå ±  æ¨å¹´å¯¾æ¯   å¨åº  105.6
34  2024   ä¸åæ  ææ¬¡å£²ä¸æå ±  æ¨å¹´å¯¾æ¯   å¨åº  104.6
35  2024   10æ  ææ¬¡å£²ä¸æå ±  æ¨å¹´å¯¾æ¯   å¨åº   98.8
36  2024   11æ  ææ¬¡å£²ä¸æå ±  æ¨å¹´å¯¾æ¯   å¨åº  104.5
37  2024   12æ  ææ¬¡å£²ä¸æå ±  æ¨å¹´å¯¾æ¯   å¨åº  101.8
38  2024    1æ  ææ¬¡å£²ä¸æå ±  æ¨å¹´å¯¾æ¯   å¨åº  101.2
39  2022    4æ  ææ¬¡å£²ä¸æå ±  æ¨å¹´å¯¾æ¯  æ¢å­åº  115.1
40  2022    5æ  ææ¬¡å£²ä¸æå ±  æ¨å¹´å¯¾æ¯  æ¢å­åº  126.0
41  2022    6æ  ææ¬¡å£²ä¸æå ±  æ¨å¹´å¯¾æ¯  æ¢å­åº  122.8
42  2022    7æ  ææ¬¡å£²ä¸æå ±  æ¨å¹´å¯¾æ¯  æ¢å­åº  111.5

<hr width=40%/>

### Saint-marc HD PDF for 2025-Feb ææ¬¡å£²ä¸æå ±

![Saint-marc HD PDF for 2025-Feb ææ¬¡å£²ä¸æå ±](samples/saintmarc-hd_20250313.pdf.png "Saint-marc HD PDF for 2025-Feb ææ¬¡å£²ä¸æå ±")

In [18]:
%%time

prompt = """
Extract the ææ¬¡å£²ä¸æå ± table in the following PDF file in TidyData format
""".strip()

# let's try the Saint-marc HD 20250213 PDF: this is the relatively clean table
# ... text 
tidy_data = extract_structured_data(model_id, prompt, saintmarc_hd_20250313, TidyData)

smhd_202503_df = pd.DataFrame(tidy_data.model_dump()['data'])

CPU times: user 12.4 ms, sys: 0 ns, total: 12.4 ms
Wall time: 25.4 s

In [19]:
# we expect 84 - 4 = 80 values in the tidy data this time
print(smhd_202503_df.shape)
print(f"\n{smhd_202503_df.iloc[68:]}")

(80, 6)

    year month    cat1  cat2 cat3  value
68  2024    4æ  ææ¬¡å£²ä¸æå ±  æ¨å¹´å¯¾æ¯  æ¢å­åº  107.1
69  2024    5æ  ææ¬¡å£²ä¸æå ±  æ¨å¹´å¯¾æ¯  æ¢å­åº  106.3
70  2024    6æ  ææ¬¡å£²ä¸æå ±  æ¨å¹´å¯¾æ¯  æ¢å­åº  113.9
71  2024    7æ  ææ¬¡å£²ä¸æå ±  æ¨å¹´å¯¾æ¯  æ¢å­åº  105.2
72  2024    8æ  ææ¬¡å£²ä¸æå ±  æ¨å¹´å¯¾æ¯  æ¢å­åº  110.5
73  2024    9æ  ææ¬¡å£²ä¸æå ±  æ¨å¹´å¯¾æ¯  æ¢å­åº  110.3
74  2024   ä¸åæ  ææ¬¡å£²ä¸æå ±  æ¨å¹´å¯¾æ¯  æ¢å­åº  108.8
75  2024   10æ  ææ¬¡å£²ä¸æå ±  æ¨å¹´å¯¾æ¯  æ¢å­åº  103.8
76  2024   11æ  ææ¬¡å£²ä¸æå ±  æ¨å¹´å¯¾æ¯  æ¢å­åº  109.2
77  2024   12æ  ææ¬¡å£²ä¸æå ±  æ¨å¹´å¯¾æ¯  æ¢å­åº  104.9
78  2024    1æ  ææ¬¡å£²ä¸æå ±  æ¨å¹´å¯¾æ¯  æ¢å­åº  104.0
79  2024    2æ  ææ¬¡å£²ä¸æå ±  æ¨å¹´å¯¾æ¯  æ¢å­åº  104.6

----

for f in client.files.list():
    client.files.delete(name=f.name)