# Google's Gemini 2.0 

## Information Extraction: Tabular Data

In [1]:
import os

GEMINI_API_KEY = os.environ["GEMINI_API_KEY"]

In [2]:
import pandas as pd

from google import genai
from google.genai import types

from pydantic import BaseModel, Field

In [3]:
# Create a client
client = genai.Client(api_key=GEMINI_API_KEY)

# Specify the model you are going to use
model_id =  "gemini-2.0-flash" # or "gemini-2.0-flash-lite-preview-02-05"  , "gemini-2.0-pro-exp-02-05"

----

#### PDF ...

Since the PDF file in our example is less than 20MB, we can send its contents inline with our request to the model.

In [4]:
os.stat("samples/Press_release_car_registrations_February_2025.pdf")

os.stat_result(st_mode=33188, st_ino=927053, st_dev=2049, st_nlink=1, st_uid=1001, st_gid=1002, st_size=186261, st_atime=1745387131, st_mtime=1744864115, st_ctime=1744864115)

In [5]:
with open("samples/Press_release_car_registrations_February_2025.pdf", "rb") as f:
      file_bytes = f.read()

Feb2025_pdf = types.Part.from_bytes(
    data=file_bytes,
    mime_type='application/pdf',
)

----

### Function for calling the Google Gen AI model

* specifies that the response will be of MIME type `application/json` in the given `response_schema`
* sets the system instructions
* sends the input file along with the user prompt

In [6]:
def extract_structured_data(model_id:str, prompt:str, file_part:types.Part, response_schema:BaseModel):
    """Given the Google Gen AI model,
       a prompt for the model,
       the raw bytes from a PDF file (max. 20MB!) which we send inline with our request,
       and a schema for the structured response we wish to obtain:

       Return a structured response (MIME type application/json) for the given prompt.
    """
    response = client.models.generate_content(
        model=model_id,

        config=types.GenerateContentConfig(
            system_instruction=SYSTEM_LEVEL_INSTRUCTION,
            response_mime_type='application/json', 
            response_schema=response_schema,
            seed=42
        ),
        
        contents=[
            file_part,            
            prompt,
        ]
    )
    
    # Convert the response to the Pydantic model and return it
    #print(response)
    return response.parsed

----

In [7]:
SYSTEM_LEVEL_INSTRUCTION = (
    "You are an expert data analyst, specializing in information extraction from PDFs.  "
    "You especially enjoy parsing out tabular data, always being completely accurate when extracting table parts "
    "such as the row and column headers, and table cells. "
    "You always understand the layout of a table, and know how to return empty values."
).strip()

----

#### NEW CAR REGISTRATIONS BY MARKET AND POWER SOURCE MONTHLY, 2025-February

![ACEA Press Release, page 3, NEW CAR REGISTRATIONS BY MARKET AND POWER SOURCE MONTHLY, 2025-Feb](samples/Press_release_car_registrations_February_2025_p3.png "NEW CAR REGISTRATIONS BY MARKET AND POWER SOURCE MONTHLY, page 3, ACEA Press Release, 2025-Feb")

c.f. NEW CAR REGISTRATIONS BY MARKET AND POWER SOURCE MONTHLY on page 3, [samples/Press_release_car_registrations_February_2025.pdf](samples/Press_release_car_registrations_February_2025.pdf)

### Prompt design: NEW CAR REGISTRATIONS BY MARKET AND POWER SOURCE MONTHLY

In [8]:
table1_prompt="""
Retrieve the entire contents for the NEW CAR REGISTRATIONS BY MARKET AND POWER SOURCE, MONTHLY table in the given PDF.

Parse this table row by row, starting from the top row and going to the bottom row of the table.
Each row represents new car registrations for a country or geopolitical entity.

Parse all 21 columns for each row, starting from left to right.
The 21 columns are grouped into 7 major column categories.

There are 7 major column categories:
- BATTERY ELECTRIC
- PLUG-IN HYBRID
- HYBRID ELECTRIC
- OTHERS
- PETROL
- DIESEL
- TOTAL

Each major column category has 3 values for:
- current month in current year
- current month in previous year
- % change current yy / previous yy

If any of the 3 values in a major column category are missing or empty, represent that value with ??.

Be aware that it is possible for all 3 values in a major column category to be empty!
Example:
|        | BATTERY ELECTRIC | PLUG-IN HYBRID | ...
|Romania | 1,164 217 -65 |   | ...
""".strip()

#### Zero-shot / Minimal Prompt Design

_... will likely not work!_

In [9]:
%%time

response = client.models.generate_content(
        model=model_id,

        config=types.GenerateContentConfig(
            system_instruction=SYSTEM_LEVEL_INSTRUCTION,
            response_mime_type='application/json', 
        ),
        
        contents=[
            Feb2025_pdf,            
            table1_prompt,
        ]
    )

print(response.text)

[
  {
    "BATTERY ELECTRIC": {
      "February 2025": "4,233",
      "February 2024": "3,322",
      "% change 25/24": "+27.4"
    },
    "PLUG-IN HYBRID": {
      "February 2025": "1,613",
      "February 2024": "1,335",
      "% change 25/24": "+20.8"
    },
    "HYBRID ELECTRIC": {
      "February 2025": "5,549",
      "February 2024": "4,691",
      "% change 25/24": "+18.3"
    },
    "OTHERS": {
      "February 2025": "0",
      "February 2024": "0",
      "% change 25/24": "??"
    },
    "PETROL": {
      "February 2025": "5,736",
      "February 2024": "6,527",
      "% change 25/24": "-12.1"
    },
    "DIESEL": {
      "February 2025": "2,488",
      "February 2024": "4,135",
      "% change 25/24": "-39.8"
    },
    "TOTAL": {
      "February 2025": "19,619",
      "February 2024": "20,010",
      "% change 25/24": "-2.0"
    }
  },
  {
    "BATTERY ELECTRIC": {
      "February 2025": "13,040",
      "February 2024": "9,385",
      "% change 25/24": "+38.9"
    },
    "PLUG-IN HYBRID": {
      "February 2025": "3,070",
      "February 2024": "8,385",
      "% change 25/24": "-63.4"
    },
    "HYBRID ELECTRIC": {
      "February 2025": "5,383",
      "February 2024": "4,282",
      "% change 25/24": "+25.7"
    },
    "OTHERS": {
      "February 2025": "267",
      "February 2024": "415",
      "% change 25/24": "-35.7"
    },
    "PETROL": {
      "February 2025": "17,280",
      "February 2024": "18,918",
      "% change 25/24": "-8.7"
    },
    "DIESEL": {
      "February 2025": "1,121",
      "February 2024": "2,337",
      "% change 25/24": "-52.0"
    },
    "TOTAL": {
      "February 2025": "40,161",
      "February 2024": "43,722",
      "% change 25/24": "-8.1"
    }
  },
  {
    "BATTERY ELECTRIC": {
      "February 2025": "126",
      "February 2024": "122",
      "% change 25/24": "+3.3"
    },
    "PLUG-IN HYBRID": {
      "February 2025": "34",
      "February 2024": "31",
      "% change 25/24": "+9.7"
    },
    "HYBRID ELECTRIC": {
      "February 2025": "105",
      "February 2024": "73",
      "% change 25/24": "+43.8"
    },
    "OTHERS": {
      "February 2025": "0",
      "February 2024": "0",
      "% change 25/24": "??"
    },
    "PETROL": {
      "February 2025": "2,781",
      "February 2024": "2,868",
      "% change 25/24": "-3.0"
    },
    "DIESEL": {
      "February 2025": "348",
      "February 2024": "510",
      "% change 25/24": "-31.8"
    },
    "TOTAL": {
      "February 2025": "3,394",
      "February 2024": "3,604",
      "% change 25/24": "-5.8"
    }
  },
  {
    "BATTERY ELECTRIC": {
      "February 2025": "53",
      "February 2024": "50",
      "% change 25/24": "+6.0"
    },
    "PLUG-IN HYBRID": {
      "February 2025": "140",
      "February 2024": "94",
      "% change 25/24": "+48.9"
    },
    "HYBRID ELECTRIC": {
      "February 2025": "1,629",
      "February 2024": "1,455",
      "% change 25/24": "+12.0"
    },
    "OTHERS": {
      "February 2025": "101",
      "February 2024": "110",
      "% change 25/24": "-8.2"
    },
    "PETROL": {
      "February 2025": "1,644",
      "February 2024": "1,898",
      "% change 25/24": "-13.4"
    },
    "DIESEL": {
      "February 2025": "678",
      "February 2024": "923",
      "% change 25/24": "-26.5"
    },
    "TOTAL": {
      "February 2025": "4,245",
      "February 2024": "4,530",
      "% change 25/24": "-6.3"
    }
  },
  {
    "BATTERY ELECTRIC": {
      "February 2025": "107",
      "February 2024": "105",
      "% change 25/24": "+1.9"
    },
    "PLUG-IN HYBRID": {
      "February 2025": "78",
      "February 2024": "48",
      "% change 25/24": "+62.5"
    },
    "HYBRID ELECTRIC": {
      "February 2025": "579",
      "February 2024": "609",
      "% change 25/24": "-4.9"
    },
    "OTHERS": {
      "February 2025": "0",
      "February 2024": "0",
      "% change 25/24": "??"
    },
    "PETROL": {
      "February 2025": "456",
      "February 2024": "712",
      "% change 25/24": "-36.0"
    },
    "DIESEL": {
      "February 2025": "64",
      "February 2024": "27",
      "% change 25/24": "+137.0"
    },
    "TOTAL": {
      "February 2025": "1,284",
      "February 2024": "1,501",
      "% change 25/24": "-14.5"
    }
  },
  {
    "BATTERY ELECTRIC": {
      "February 2025": "737",
      "February 2024": "438",
      "% change 25/24": "+68.3"
    },
    "PLUG-IN HYBRID": {
      "February 2025": "557",
      "February 2024": "450",
      "% change 25/24": "+23.8"
    },
    "HYBRID ELECTRIC": {
      "February 2025": "3,634",
      "February 2024": "3,577",
      "% change 25/24": "+1.6"
    },
    "OTHERS": {
      "February 2025": "470",
      "February 2024": "579",
      "% change 25/24": "-18.8"
    },
    "PETROL": {
      "February 2025": "8,844",
      "February 2024": "9,723",
      "% change 25/24": "-9.0"
    },
    "DIESEL": {
      "February 2025": "3,531",
      "February 2024": "3,561",
      "% change 25/24": "-0.8"
    },
    "TOTAL": {
      "February 2025": "17,773",
      "February 2024": "18,328",
      "% change 25/24": "-3.0"
    }
  },
  {
    "BATTERY ELECTRIC": {
      "February 2025": "7,724",
      "February 2024": "4,974",
      "% change 25/24": "+55.3"
    },
    "PLUG-IN HYBRID": {
      "February 2025": "312",
      "February 2024": "525",
      "% change 25/24": "-40.6"
    },
    "HYBRID ELECTRIC": {
      "February 2025": "1,453",
      "February 2024": "1,941",
      "% change 25/24": "-25.1"
    },
    "OTHERS": {
      "February 2025": "0",
      "February 2024": "0",
      "% change 25/24": "??"
    },
    "PETROL": {
      "February 2025": "1,908",
      "February 2024": "3,415",
      "% change 25/24": "-44.1"
    },
    "DIESEL": {
      "February 2025": "220",
      "February 2024": "363",
      "% change 25/24": "-39.4"
    },
    "TOTAL": {
      "February 2025": "11,617",
      "February 2024": "11,218",
      "% change 25/24": "+3.6"
    }
  },
  {
    "BATTERY ELECTRIC": {
      "February 2025": "59",
      "February 2024": "89",
      "% change 25/24": "-33.7"
    },
    "PLUG-IN HYBRID": {
      "February 2025": "69",
      "February 2024": "59",
      "% change 25/24": "+16.9"
    },
    "HYBRID ELECTRIC": {
      "February 2025": "307",
      "February 2024": "609",
      "% change 25/24": "-49.6"
    },
    "OTHERS": {
      "February 2025": "0",
      "February 2024": "9",
      "% change 25/24": "-100.0"
    },
    "PETROL": {
      "February 2025": "132",
      "February 2024": "430",
      "% change 25/24": "-69.3"
    },
    "DIESEL": {
      "February 2025": "57",
      "February 2024": "244",
      "% change 25/24": "-76.6"
    },
    "TOTAL": {
      "February 2025": "624",
      "February 2024": "1,440",
      "% change 25/24": "-56.7"
    }
  },
  {
    "BATTERY ELECTRIC": {
      "February 2025": "1,563",
      "February 2024": "1,330",
      "% change 25/24": "+17.5"
    },
    "PLUG-IN HYBRID": {
      "February 2025": "1,035",
      "February 2024": "1,237",
      "% change 25/24": "-16.3"
    },
    "HYBRID ELECTRIC": {
      "February 2025": "1,398",
      "February 2024": "1,735",
      "% change 25/24": "-19.4"
    },
    "OTHERS": {
      "February 2025": "0",
      "February 2024": "39",
      "% change 25/24": "-100.0"
    },
    "PETROL": {
      "February 2025": "598",
      "February 2024": "736",
      "% change 25/24": "-18.8"
    },
    "DIESEL": {
      "February 2025": "190",
      "February 2024": "297",
      "% change 25/24": "-36.0"
    },
    "TOTAL": {
      "February 2025": "4,784",
      "February 2024": "5,374",
      "% change 25/24": "-11.0"
    }
  },
  {
    "BATTERY ELECTRIC": {
      "February 2025": "25.335",
      "February 2024": "25,825",
      "% change 25/24": "-1.9"
    },
    "PLUG-IN HYBRID": {
      "February 2025": "6,451",
      "February 2024": "11,732",
      "% change 25/24": "-45.0"
    },
    "HYBRID ELECTRIC": {
      "February 2025": "62,146",
      "February 2024": "41,227",
      "% change 25/24": "+50.7"
    },
    "OTHERS": {
      "February 2025": "5,821",
      "February 2024": "5,495",
      "% change 25/24": "+5.9"
    },
    "PETROL": {
      "February 2025": "35,110",
      "February 2024": "48,095",
      "% change 25/24": "-27.0"
    },
    "DIESEL": {
      "February 2025": "6,707",
      "February 2024": "10,221",
      "% change 25/24": "-34.4"
    },
    "TOTAL": {
      "February 2025": "141,570",
      "February 2024": "142,595",
      "% change 25/24": "-0.7"
    }
  },
  {
    "BATTERY ELECTRIC": {
      "February 2025": "35,949",
      "February 2024": "27,479",
      "% change 25/24": "+30.8"
    },
    "PLUG-IN HYBRID": {
      "February 2025": "19,534",
      "February 2024": "14,575",
      "% change 25/24": "+34.0"
    },
    "HYBRID ELECTRIC": {
      "February 2025": "58,153",
      "February 2024": "54,792",
      "% change 25/24": "+6.1"
    },
    "OTHERS": {
      "February 2025": "771",
      "February 2024": "1,283",
      "% change 25/24": "-39.9"
    },
    "PETROL": {
      "February 2025": "56,911",
      "February 2024": "77,106",
      "% change 25/24": "-26.2"
    },
    "DIESEL": {
      "February 2025": "32,116",
      "February 2024": "42,153",
      "% change 25/24": "-23.8"
    },
    "TOTAL": {
      "February 2025": "203,434",
      "February 2024": "217,388",
      "% change 25/24": "-6.4"
    }
  },
  {
    "BATTERY ELECTRIC": {
      "February 2025": "718",
      "February 2024": "581",
      "% change 25/24": "+23.6"
    },
    "PLUG-IN HYBRID": {
      "February 2025": "610",
      "February 2024": "525",
      "% change 25/24": "+16.2"
    },
    "HYBRID ELECTRIC": {
      "February 2025": "5,002",
      "February 2024": "4,445",
      "% change 25/24": "+12.5"
    },
    "OTHERS": {
      "February 2025": "136",
      "February 2024": "148",
      "% change 25/24": "-8.1"
    },
    "PETROL": {
      "February 2025": "3,116",
      "February 2024": "4,472",
      "% change 25/24": "-30.3"
    },
    "DIESEL": {
      "February 2025": "236",
      "February 2024": "1,280",
      "% change 25/24": "-81.6"
    },
    "TOTAL": {
      "February 2025": "9,818",
      "February 2024": "11,451",
      "% change 25/24": "-14.3"
    }
  },
  {
    "BATTERY ELECTRIC": {
      "February 2025": "690",
      "February 2024": "741",
      "% change 25/24": "-6.9"
    },
    "PLUG-IN HYBRID": {
      "February 2025": "385",
      "February 2024": "545",
      "% change 25/24": "-29.4"
    },
    "HYBRID ELECTRIC": {
      "February 2025": "5,589",
      "February 2024": "5,058",
      "% change 25/24": "+10.5"
    },
    "OTHERS": {
      "February 2025": "42",
      "February 2024": "7",
      "% change 25/24": "+500.0"
    },
    "PETROL": {
      "February 2025": "2,428",
      "February 2024": "3,280",
      "% change 25/24": "-26.0"
    },
    "DIESEL": {
      "February 2025": "1,441",
      "February 2024": "1,110",
      "% change 25/24": "+29.8"
    },
    "TOTAL": {
      "February 2025": "10,575",
      "February 2024": "10,741",
      "% change 25/24": "-1.5"
    }
  },
  {
    "BATTERY ELECTRIC": {
      "February 2025": "2,512",
      "February 2024": "1,856",
      "% change 25/24": "+35.3"
    },
    "PLUG-IN HYBRID": {
      "February 2025": "2,100",
      "February 2024": "1,420",
      "% change 25/24": "+47.9"
    },
    "HYBRID ELECTRIC": {
      "February 2025": "3,137",
      "February 2024": "2,940",
      "% change 25/24": "+6.7"
    },
    "OTHERS": {
      "February 2025": "0",
      "February 2024": "0",
      "% change 25/24": "??"
    },
    "PETROL": {
      "February 2025": "3,776",
      "February 2024": "5,671",
      "% change 25/24": "-33.4"
    },
    "DIESEL": {
      "February 2025": "2,444",
      "February 2024": "4,545",
      "% change 25/24": "-46.2"
    },
    "TOTAL": {
      "February 2025": "13,969",
      "February 2024": "16,432",
      "% change 25/24": "-15.0"
    }
  },
  {
    "BATTERY ELECTRIC": {
      "February 2025": "6.922",
      "February 2024": "5,007",
      "% change 25/24": "+38.2"
    },
    "PLUG-IN HYBRID": {
      "February 2025": "6,131",
      "February 2024": "4,598",
      "% change 25/24": "+33.3"
    },
    "HYBRID ELECTRIC": {
      "February 2025": "61,196",
      "February 2024": "55,537",
      "% change 25/24": "+10.2"
    },
    "OTHERS": {
      "February 2025": "13,690",
      "February 2024": "14,595",
      "% change 25/24": "-6.2"
    },
    "PETROL": {
      "February 2025": "36,404",
      "February 2024": "45,966",
      "% change 25/24": "-20.8"
    },
    "DIESEL": {
      "February 2025": "13,677",
      "February 2024": "21,499",
      "% change 25/24": "-36.4"
    },
    "TOTAL": {
      "February 2025": "138,020",
      "February 2024": "147,202",
      "% change 25/24": "-6.2"
    }
  },
  {
    "BATTERY ELECTRIC": {
      "February 2025": "80",
      "February 2024": "78",
      "% change 25/24": "+2.6"
    },
    "PLUG-IN HYBRID": {
      "February 2025": "134",
      "February 2024": "28",
      "% change 25/24": "+378.6"
    },
    "HYBRID ELECTRIC": {
      "February 2025": "0",
      "February 2024": "0",
      "% change 25/24": "??"
    },
    "OTHERS": {
      "February 2025": "18",
      "February 2024": "36",
      "% change 25/24": "-50.0"
    },
    "PETROL": {
      "February 2025": "885",
      "February 2024": "794",
      "% change 25/24": "+11.5"
    },
    "DIESEL": {
      "February 2025": "281",
      "February 2024": "282",
      "% change 25/24": "-0.4"
    },
    "TOTAL": {
      "February 2025": "1,398",
      "February 2024": "1,218",
      "% change 25/24": "+14.8"
    }
  },
  {
    "BATTERY ELECTRIC": {
      "February 2025": "101",
      "February 2024": "108",
      "% change 25/24": "-6.5"
    },
    "PLUG-IN HYBRID": {
      "February 2025": "209",
      "February 2024": "103",
      "% change 25/24": "+102.9"
    },
    "HYBRID ELECTRIC": {
      "February 2025": "1,284",
      "February 2024": "954",
      "% change 25/24": "+34.6"
    },
    "OTHERS": {
      "February 2025": "28",
      "February 2024": "39",
      "% change 25/24": "-28.2"
    },
    "PETROL": {
      "February 2025": "415",
      "February 2024": "606",
      "% change 25/24": "-31.5"
    },
    "DIESEL": {
      "February 2025": "494",
      "February 2024": "204",
      "% change 25/24": "+142.2"
    },
    "TOTAL": {
      "February 2025": "2,531",
      "February 2024": "2,014",
      "% change 25/24": "+25.7"
    }
  },
  {
    "BATTERY ELECTRIC": {
      "February 2025": "1,134",
      "February 2024": "942",
      "% change 25/24": "+20.4"
    },
    "PLUG-IN HYBRID": {
      "February 2025": "291",
      "February 2024": "385",
      "% change 25/24": "-24.4"
    },
    "HYBRID ELECTRIC": {
      "February 2025": "1,196",
      "February 2024": "1,002",
      "% change 25/24": "+19.4"
    },
    "OTHERS": {
      "February 2025": "0",
      "February 2024": "0",
      "% change 25/24": "??"
    },
    "PETROL": {
      "February 2025": "1,054",
      "February 2024": "1,377",
      "% change 25/24": "-23.5"
    },
    "DIESEL": {
      "February 2025": "436",
      "February 2024": "581",
      "% change 25/24": "-25.0"
    },
    "TOTAL": {
      "February 2025": "4,111",
      "February 2024": "4,287",
      "% change 25/24": "-4.1"
    }
  },
  {
    "BATTERY ELECTRIC": {
      "February 2025": "46",
      "February 2024": "260",
      "% change 25/24": "-82.3"
    },
    "PLUG-IN HYBRID": {
      "February 2025": "27",
      "February 2024": "58",
      "% change 25/24": "-53.4"
    },
    "HYBRID ELECTRIC": {
      "February 2025": "98",
      "February 2024": "124",
      "% change 25/24": "-21.0"
    },
    "OTHERS": {
      "February 2025": "0",
      "February 2024": "0",
      "% change 25/24": "??"
    },
    "PETROL": {
      "February 2025": "118",
      "February 2024": "199",
      "% change 25/24": "-40.7"
    },
    "DIESEL": {
      "February 2025": "14",
      "February 2024": "16",
      "% change 25/24": "-12.5"
    },
    "TOTAL": {
      "February 2025": "303",
      "February 2024": "657",
      "% change 25/24": "-53.9"
    }
  },
  {
    "BATTERY ELECTRIC": {
      "February 2025": "10,174",
      "February 2024": "8,315",
      "% change 25/24": "+22.4"
    },
    "PLUG-IN HYBRID": {
      "February 2025": "4,376",
      "February 2024": "4,304",
      "% change 25/24": "+1.7"
    },
    "HYBRID ELECTRIC": {
      "February 2025": "8,122",
      "February 2024": "9,007",

CPU times: user 10.3 ms, sys: 4.32 ms, total: 14.6 ms
Wall time: 41.5 s

### Structured output: 

#### NEW CAR REGISTRATIONS BY MARKET AND POWER SOURCE MONTHLY

_... we need to improve the accuracy of the output for this information retrieval operation... but how?_

![Accuracy optimization, pattern 1: prompt design & structured output](samples/accuracy_optimization_pattern_01.png "Optimizing accuracy in this use case via prompt design and structured output")

In [10]:
class Table1Row(BaseModel):
    name: str = Field(description="name of country or geopolitical entity for this table row")
    
    values: list[str] = Field(description=(
        "list of exactly 21 values, 3 for each the following major column category: BATTERY ELECTRIC, PLUG-IN HYBRID, HYBRID ELECTRIC, OTHERS, PETROL, DIESEL, and TOTAL. if any of the values are blank or missing, represent with an ??"
    ))

class Table1(BaseModel):
    rows: list[Table1Row] = Field(description="List of Table1Row objects that make up the table")

In [11]:
%%time

table_data = extract_structured_data(model_id, table1_prompt, Feb2025_pdf, Table1)

CPU times: user 13.1 ms, sys: 114 μs, total: 13.2 ms
Wall time: 32.8 s

In [12]:
row_headers, data = [], []
for row in table_data.model_dump()['rows']:
    row_headers.append(row['name'])
    data.append(row['values'])

df = pd.DataFrame(data, index=row_headers)
df.replace('??', '', inplace=True)

print(df.shape)
print()
df

(34, 21)

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20
Austria,"4,233","3,322",+27.4,"1,613","1,335",+20.8,"5,549","4,691",+18.3,0,...,,"5,736","6,527",-12.1,"2,488","4,135",-39.8,"19,619","20,010",-2.0
Belgium,"13,040","9,385",+38.9,"3,070","8,385",-63.4,"5,383","4,282",+25.7,267,...,-35.7,"17,280","18,918",-8.7,"1,121","2,337",-52.0,"40,161","43,722",-8.1
Bulgaria,126,122,+3.3,34,31,+9.7,105,73,+43.8,0,...,,"2,781","2,868",-3.0,348,510,-31.8,"3,394","3,604",-5.8
Croatia,53,50,+6.0,140,94,+48.9,"1,629","1,455",+12.0,101,...,-8.2,"1,644","1,898",-13.4,678,923,-26.5,"4,245","4,530",-6.3
Cyprus,107,105,+1.9,78,48,+62.5,579,609,-4.9,0,...,,456,712,-36.0,64,27,+137.0,"1,284","1,501",-14.5
Czechia,737,438,+68.3,557,450,+23.8,"3,634","3,577",+1.6,470,...,-18.8,"8,844","9,723",-9.0,"3,531","3,561",-0.8,"17,773","18,328",-3.0
Denmark,"7,724","4,974",+55.3,312,525,-40.6,"1,453","1,941",-25.1,0,...,,"1,908","3,415",-44.1,220,363,-39.4,"11,617","11,218",+3.6
Estonia,59,89,-33.7,69,59,+16.9,307,609,-49.6,0,...,-100.0,132,430,-69.3,57,244,-76.6,624,"1,440",-56.7
Finland,"1,563","1,330",+17.5,"1,035","1,237",-16.3,"1,398","1,735",-19.4,0,...,-100.0,598,736,-18.8,190,297,-36.0,"4,784","5,374",-11.0
France,25.335,"25,825",-1.9,"6,451","11,732",-45.0,"62,146","41,227",+50.7,"5,821",...,+5.9,"35,110","48,095",-27.0,"6,707","10,221",-34.4,"141,570","142,595",-0.7
Germany,"35,949","27,479",+30.8,"19,534","14,575",+34.0,"58,153","54,792",+6.1,771,...,-39.9,"56,911","77,106",-26.2,"32,116","42,153",-23.8,"203,434","217,388",-6.4
Greece,718,581,+23.6,610,525,+16.2,"5,002","4,445",+12.5,136,...,-8.1,"3,116","4,472",-30.3,236,"1,280",-81.6,"9,818","11,451",-14.3
Hungary,690,741,-6.9,385,545,-29.4,"5,589","5,058",+10.5,42,...,+500.0,"2,428","3,280",-26.0,"1,441","1,110",+29.8,"10,575","10,741",-1.5
Ireland,"2,512","1,856",+35.3,"2,100","1,420",+47.9,"3,137","2,940",+6.7,0,...,,"3,776","5,671",-33.4,"2,444","4,545",-46.2,"13,969","16,432",-15.0
Italy,6.922,"5,007",+38.2,"6,131","4,598",+33.3,"61,196","55,537",+10.2,"13,690",...,-6.2,"36,404","45,966",-20.8,"13,677","21,499",-36.4,"138,020","147,202",-6.2
Latvia,80,78,+2.6,134,28,+378.6,0,0,,18,...,-50.0,885,794,+11.5,281,282,-0.4,"1,398","1,218",+14.8
Lithuania,101,108,-6.5,209,103,+102.9,"1,284",954,+34.6,28,...,-28.2,415,606,-31.5,494,204,+142.2,"2,531","2,014",+25.7
Luxembourg,"1,134",942,+20.4,291,385,-24.4,"1,196","1,002",+19.4,0,...,,"1,054","1,377",-23.5,436,581,-25.0,"4,111","4,287",-4.1
Malta,46,260,-82.3,27,58,-53.4,98,124,-21.0,0,...,,118,199,-40.7,14,16,-12.5,303,657,-53.9
Netherlands,"10,174","8,315",+22.4,"4,376","4,304",+1.7,"8,122","9,007",-9.8,48,...,-80.4,"4,781","8,197",-41.7,319,264,+20.8,"27,820","30,332",-8.3
Poland,"1,675","1,370",+22.3,"1,887","1,301",+45.0,"23,470","21,506",+9.1,"1,095",...,-14.0,"13,390","17,014",-21.3,"3,278","3,509",-6.6,"44,795","45,973",-2.6
Portugal,"3,946","3,191",+23.7,"2,093","2,394",-12.6,"4,974","2,821",+76.3,"1,702",...,+10.4,"5,751","9,041",-36.4,997,1.523,-34.5,"19,463","20,512",-5.1
Romania,724,"1,109",-34.7,,,,"5,510","3,736",+47.5,"1,354",...,+42.1,"3,007","3,729",-19.4,"1,255","1,812",-30.7,"11,850","11,339",+4.5
Slovakia,276,190,+45.3,240,167,+43.7,"1,992","2,313",-13.9,143,...,+2.9,"2,526","3,692",-31.6,"1,028","1,201",-14.4,"6,205","7,702",-19.4
Slovenia,367,278,+32.0,187,104,+79.8,416,472,-11.9,52,...,+57.6,"2,539","2,591",-2.0,811,670,+21.0,"4,372","4,148",+5.4
Spain,"6,112","3,806",+60.6,"6,901","5,562",+24.1,"39,798","28,631",+39.0,"4,380",...,+81.2,"27,980","32,659",-14.3,"5,156","8,275",-37.7,"90,327","81,350",+11.0
Sweden,"6,872","5,215",+31.8,"5,106","4,510",+13.2,"1,942","1,906",+1.9,3,...,-99.6,"4,503","4,788",-6.0,"1,182","1,584",-25.4,"19,608","18,770",+4.5
EUROPEAN UNION,"131,275","106,166",+23.7,"63,570","64,475",-1.4,"304,062","255,443",+19.0,"30,121",...,-0.0,"244,073","314,504",-22.4,"80,569","113,126",-28.8,"853,670","883,838",-3.4
Iceland,248,97,+155.7,104,96,+8.3,199,95,+109.5,0,...,,43,26,+65.4,61,83,-26.5,655,397,+65.0
Norway,"8,477","6,043",+40.3,136,122,+11.5,154,259,-40.5,0,...,,37,64,-42.2,145,189,-23.3,"8,949","6,677",+34.0
Switzerland,"3,402","3,295",+3.2,"1,462","1,753",-16.6,"6,000","5,780",+3.8,3,...,+0.0,"4,071","5,959",-31.7,"1,274","1,731",-26.4,"16,212","18,521",-12.5
EFTA,"12,127","9,435",+28.5,"1,702","1,971",-13.6,"6,353","6,134",+3.6,3,...,+0.0,"4,151","6,049",-31.4,"1,480","2,003",-26.1,"25,816","25,595",+0.9
United Kingdom,"21,244","14,991",+41.7,"7,273","6,098",+19.3,"29,849","26,140",+14.2,0,...,,"22,986","34,579",-33.5,"2,702","3,078",-12.2,"84,054","84,886",-1.0
EU + EFTA + UK,"164,646","130,592",+26.1,"72,545","72,544",+0.0,"340,264","287,717",+18.3,"30,124",...,-0.0,"271,210","355,132",-23.6,"84,751","118,207",-28.3,"963,540","994,319",-3.1

In [13]:
df.loc[[
    'Austria',
    'Bulgaria',
    'Cyprus',
    'Denmark',
    'Ireland',
    'Latvia',
    'Luxembourg', 
    'Malta',
    'Romania',    # empty values at indices 3, 4, 5!
    'Iceland', 
    'Norway',
    'United Kingdom'
]].T

,Austria,Bulgaria,Cyprus,Denmark,Ireland,Latvia,Luxembourg,Malta,Romania,Iceland,Norway,United Kingdom
0,"4,233",126,107,"7,724","2,512",80,"1,134",46,724,248,"8,477","21,244"
1,"3,322",122,105,"4,974","1,856",78,942,260,"1,109",97,"6,043","14,991"
2,+27.4,+3.3,+1.9,+55.3,+35.3,+2.6,+20.4,-82.3,-34.7,+155.7,+40.3,+41.7
3,"1,613",34,78,312,"2,100",134,291,27,,104,136,"7,273"
4,"1,335",31,48,525,"1,420",28,385,58,,96,122,"6,098"
5,+20.8,+9.7,+62.5,-40.6,+47.9,+378.6,-24.4,-53.4,,+8.3,+11.5,+19.3
6,"5,549",105,579,"1,453","3,137",0,"1,196",98,"5,510",199,154,"29,849"
7,"4,691",73,609,"1,941","2,940",0,"1,002",124,"3,736",95,259,"26,140"
8,+18.3,+43.8,-4.9,-25.1,+6.7,,+19.4,-21.0,+47.5,+109.5,-40.5,+14.2
9,0,0,0,0,0,18,0,0,"1,354",0,0,0
10,0,0,0,0,0,36,0,0,953,0,0,0
11,,,,,,-50.0,,,+42.1,,,
12,"5,736","2,781",456,"1,908","3,776",885,"1,054",118,"3,007",43,37,"22,986"
13,"6,527","2,868",712,"3,415","5,671",794,"1,377",199,"3,729",26,64,"34,579"
14,-12.1,-3.0,-36.0,-44.1,-33.4,+11.5,-23.5,-40.7,-19.4,+65.4,-42.2,-33.5
15,"2,488",348,64,220,"2,444",281,436,14,"1,255",61,145,"2,702"
16,"4,135",510,27,363,"4,545",282,581,16,"1,812",83,189,"3,078"
17,-39.8,-31.8,+137.0,-39.4,-46.2,-0.4,-25.0,-12.5,-30.7,-26.5,-23.3,-12.2
18,"19,619","3,394","1,284","11,617","13,969","1,398","4,111",303,"11,850",655,"8,949","84,054"
19,"20,010","3,604","1,501","11,218","16,432","1,218","4,287",657,"11,339",397,"6,677","84,886"
20,-2.0,-5.8,-14.5,+3.6,-15.0,+14.8,-4.1,-53.9,+4.5,+65.0,+34.0,-1.0

In [14]:
df.to_csv('samples/acea_1_202502_raw.csv', encoding='CP932', header=False)

----

#### NEW CAR REGISTRATIONS BY MANUFACTURER EU + EFTA + UK, 2025-February

![ACEA Press Release, page 6, NEW CAR REGISTRATIONS BY MANUFACTURER EU + EFTA + UK, 2025-Feb](samples/Press_release_car_registrations_February_2025_p6.png "NEW CAR REGISTRATIONS BY MANUFACTURER EU + EFTA + UK, page 6, ACEA Press Release, 2025-Feb")

c.f. NEW CAR REGISTRATIONS BY MANUFACTURER EU + EFTA + UK on page 6, [samples/Press_release_car_registrations_February_2025.pdf](samples/Press_release_car_registrations_February_2025.pdf)

In [15]:
table2_prompt ="""
Retrieve the entire contents for the NEW CAR REGISTRATIONS BY MANUFACTURER EU + EFTA + UK table on in the given PDF.

Parse this table row by row, starting from the top row and going to the bottom row of the table.
Each row represents new car registrations for a automobile manufacturer or manufacturing group.

Parse all 10 columns for each row, starting from left to right.
The 10 columns are grouped into 2 major column categories.

There are 2 major column categories:
- current month
- JANUARY-current month

For each major column category, you must extract exactly 5 values:
- % share current year
- % share previous year
- Units current year
- Units previous year
- % change current yy / previous yy

If there are any values that are missing or empty, represent that value with ??.
""".strip()

In [16]:
class Table2Row(BaseModel):
    name: str = Field(description="name of automobile manufacturer or manufacturer group for this table row. do not include any any superscript characters")
    
    values: list[str] = Field(description=(
        "list of exactly 10 values, 5 for each the following major column categories: current month, and JANUARY-current month. if any of the values are blank or missing, represent with an ??"
    ))

class Table2(BaseModel):
    rows: list[Table2Row] = Field(description="List of Table2Row objects that make up the table")

In [17]:
%%time

table_data = extract_structured_data(model_id, table2_prompt, Feb2025_pdf, Table2)

CPU times: user 6.11 ms, sys: 3.25 ms, total: 9.36 ms
Wall time: 25.3 s

In [18]:
row_headers, data = [], []
for row in table_data.model_dump()['rows']:
    row_headers.append(row['name'])
    data.append(row['values'])

df = pd.DataFrame(data, index=row_headers)
df.replace('??', '', inplace=True)

print(df.shape)
print()
df

(46, 10)

,0,1,2,3,4,5,6,7,8,9
Volkswagen Group,25.9,25.0,"249,873","248,647",+0.5,26.4,25.0,"516,709","503,487",+2.6
Volkswagen,10.8,9.7,"103,681","96,562",+7.4,11.1,9.6,"216,565","193,379",+12.0
Skoda,5.7,5.9,"55,324","58,854",-6.0,5.8,6.0,"114,314","120,441",-5.1
Audi,4.8,4.6,"46,593","45,927",+1.5,4.9,4.9,"95,822","99,291",-3.5
Cupra,2.1,1.6,"20,397","15,418",+32.3,2.1,1.4,"40,869","28,728",+42.3
Seat,1.8,2.2,"16,998","21,884",-22.3,1.7,2.1,"33,575","41,946",-20.0
Porsche,0.7,1.0,"6,267","9,486",-33.9,0.7,0.9,"14,218","18,524",-23.2
Others,0.1,0.1,613,516,+18.8,0.1,0.1,"1,346","1,178",+14.3
Stellantis,16.2,18.7,"155,970","186,151",-16.2,15.8,18.4,"310,091","369,469",-16.1
Peugeot,5.8,5.8,"56,016","58,094",-3.6,5.7,5.7,"111,443","115,484",-3.5
Citroen,3.2,3.7,"31,035","36,661",-15.3,3.0,3.4,"58,227","69,319",-16.0
Opel/Vauxhall,2.6,3.4,"25,173","34,250",-26.5,2.7,3.7,"53,620","73,605",-27.2
Fiat,2.4,3.4,"22,980","34,116",-32.6,2.4,3.2,"46,589","63,766",-26.9
Jeep,1.2,1.1,"11,384","11,271",+1.0,1.1,1.2,"22,405","23,424",-4.4
Alfa Romeo,0.5,0.4,"4,994","3,605",+38.5,0.5,0.4,"9,788","7,555",+29.6
DS,0.3,0.4,"2,868","3,539",-19.0,0.3,0.4,"5,060","7,256",-30.3
Lancia/Chrysler,0.1,0.4,"1,155","4,172",-72.3,0.1,0.4,"2,208","8,098",-72.7
Others,0.0,0.0,365,443,-17.6,0.0,0.0,751,962,-21.9
Renault Group,11.1,9.7,"107,134","96,653",+10.8,10.5,9.4,"205,005","189,550",+8.2
Renault,6.1,5.0,"58,830","49,521",+18.8,5.5,4.5,"107,258","90,541",+18.5
Dacia,4.9,4.7,"47,558","46,832",+1.6,4.9,4.9,"96,532","98,498",-2.0
Alpine,0.1,0.0,746,300,+148.7,0.1,0.0,"1,215",511,+137.8
Hyundai Group,7.6,8.0,"73,294","79,172",-7.4,8.0,8.2,"156,526","165,691",-5.5
Hyundai,3.9,4.0,"37,210","40,093",-7.2,4.0,4.1,"78,680","81,875",-3.9
Kia,3.7,3.9,"36,084","39,079",-7.7,4.0,4.2,"77,846","83,816",-7.1
Toyota Group,7.4,7.6,"71,105","75,438",-5.7,7.7,7.9,"151,589","159,371",-4.9
Toyota,6.8,7.1,"65,330","70,595",-7.5,7.1,7.4,"138,307","149,325",-7.4
Lexus,0.6,0.5,"5,775","4,843",+19.2,0.7,0.5,"13,282","10,046",+32.2
BMW Group,7.2,6.6,"69,519","65,812",+5.6,7.1,6.9,"139,828","138,118",+1.2
BMW,5.8,5.5,"55,500","54,999",+0.9,5.9,5.8,"115,359","115,830",-0.4
Mini,1.5,1.1,"14,019","10,813",+29.6,1.2,1.1,"24,469","22,288",+9.8
Mercedes-Benz,4.8,4.9,"46,439","48,911",-5.1,4.6,4.6,"90,154","92,703",-2.7
Mercedes,4.7,4.7,"45,580","46,818",-2.6,4.5,4.4,"88,111","88,120",-0.0
Smart,0.1,0.2,859,"2,093",-59.0,0.1,0.2,"2,043","4,583",-55.4
Ford,3.2,3.3,"30,910","32,810",-5.8,3.2,3.4,"62,461","68,702",-9.1
Volvo Cars,2.4,2.8,"23,525","27,681",-15.0,2.4,2.7,"47,205","53,613",-12.0
Nissan,2.4,2.4,"23,044","24,055",-4.2,2.5,2.6,"48,051","51,292",-6.3
SAIC Motor,2.1,1.6,"19,927","15,804",+26.1,2.0,1.6,"39,538","32,611",+21.2
Tesla,1.8,2.8,"16,888","28,182",-40.1,1.4,2.3,"26,619","46,343",-42.6
Suzuki,1.6,1.9,"15,347","18,584",-17.4,1.5,1.7,"30,155","34,396",-12.3
Mazda,1.2,1.2,"11,513","12,311",-6.5,1.2,1.2,"22,595","24,917",-9.3
Jaguar Land Rover Group,0.8,0.8,"7,637","8,020",-4.8,1.0,1.0,"18,880","20,285",-6.9
Land Rover,0.7,0.7,"7,139","6,708",+6.4,0.9,0.9,"17,402","17,114",+1.7
Jaguar,0.1,0.1,498,"1,312",-62.0,0.1,0.2,"1,478","3,171",-53.4
Honda,0.6,0.5,"5,335","5,413",-1.4,0.5,0.6,"10,329","11,377",-9.2
Mitsubishi,0.4,0.6,"3,490","5,837",-40.2,0.4,0.5,"6,940","10,748",-35.4

In [19]:
df.to_csv('samples/acea_2_202502_raw.csv', encoding='CP932', header=False)

<hr width=40%/>

### Check: 2025-Jan PDF

In [20]:
with open("samples/Press_release_car_registrations_January_2025_rev.pdf", "rb") as f:
      file_bytes = f.read()

Jan2025_pdf = types.Part.from_bytes(
    data=file_bytes,
    mime_type='application/pdf',
)

### NEW CAR REGISTRATIONS BY MARKET AND POWER SOURCE MONTHLY, 2025-January

![ACEA Press Release, page 3, NEW CAR REGISTRATIONS BY MARKET AND POWER SOURCE MONTHLY, 2025-Jan](samples/Press_release_car_registrations_January_2025_p3.png "NEW CAR REGISTRATIONS BY MARKET AND POWER SOURCE MONTHLY, page 3, ACEA Press Release, 2025-Jan")

c.f. NEW CAR REGISTRATIONS BY MARKET AND POWER SOURCE MONTHLY on page 3, [samples/Press_release_car_registrations_January_2025_rev.pdf](samples/Press_release_car_registrations_January_2025_rev.pdf)

In [21]:
%%time

table_data = extract_structured_data(model_id, table1_prompt, Jan2025_pdf, Table1)

CPU times: user 13.2 ms, sys: 137 μs, total: 13.4 ms
Wall time: 35.8 s

In [22]:
row_headers, data = [], []
for row in table_data.model_dump()['rows']:
    row_headers.append(row['name'])
    data.append(row['values'])

df = pd.DataFrame(data, index=row_headers)
df.replace('??', '', inplace=True)

print(df.shape)
print()
df

(34, 21)

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20
Austria,"3,822","2,823",+35.4,"1,642","1,469",+11.8,"5,405","4,069",+32.8,0,...,-100.0,"6,505","5,681",+14.5,"3,074","3,506",-12.3,"20,448","17,552",+16.5
Belgium,"13,712","9,995",+37.2,"3,996","11,972",-66.6,"4,458","4,170",+6.9,293,...,+10.2,"16,600","17,461",-4.9,"1,535","2,803",-45.2,"40,594","46,667",-13.0
Bulgaria,142,162,-12.3,38,49,-22.4,78,61,+27.9,0,...,,"2,228","3,270",-31.9,294,435,-32.4,"2,780","3,977",-30.1
Croatia,69,82,-15.9,152,119,+27.7,"1,556","1,216",+28.0,142,...,+11.8,"1,977","2,045",-3.3,576,903,-36.2,"4,472","4,492",-0.4
Cyprus,149,65,+129.2,93,68,+36.8,689,679,+1.5,0,...,,609,630,-3.3,25,85,-70.6,"1,565","1,527",+2.5
Czechia,981,473,+107.4,641,431,+48.7,"4,225","3,386",+24.8,378,...,-34.9,"9,362","11,167",-16.2,"3,760","4,323",-13.0,"19,347","20,361",-5.0
Denmark,"6,961","3,117",+123.3,190,366,-48.1,"1,377","1,746",-21.1,0,...,,"1,955","3,277",-40.3,351,333,+5.4,"10,834","8,839",+22.6
Estonia,83,136,-39.0,77,55,+40.0,254,683,-62.8,0,...,-100.0,82,413,-80.1,35,281,-87.5,531,"1,577",-66.3
Finland,"1,639","1,587",+3.3,"1,366","1,545",-11.6,"1,776","2,284",-22.2,0,...,-100.0,706,801,-11.9,255,354,-28.0,"5,742","6,590",-12.9
France,"19,923","20,017",-0.5,"4,852","10,549",-54.0,"51,447","33,810",+52.2,"3,521",...,-46.3,"29,974","41,728",-28.2,"4,956","9,620",-48.5,"114,673","122,285",-6.2
Germany,"34,498","22,474",+53.5,"17,712","14,394",+23.1,"59,252","52,102",+13.7,864,...,-55.1,"62,358","81,724",-23.7,"32,956","40,936",-19.5,"207,640","213,553",-2.8
Greece,527,450,+17.1,753,798,-5.6,"5,122","4,586",+11.7,123,...,-10.9,"3,671","5,177",-29.1,463,"1,603",-71.1,"10,659","12,752",-16.4
Hungary,563,374,+50.5,310,447,-30.6,"4,509","3,761",+19.9,55,...,+266.7,"2,369","2,551",-7.1,"1,319",901,+46.4,"9,125","8,049",+13.4
Ireland,"4,923","4,093",+20.3,"4,915","2,999",+63.9,"8,725","7,761",+12.4,0,...,,"9,454","9,729",-2.8,"5,456","6,825",-20.1,"33,473","31,407",+6.6
Italy,"6,702","2,963",+126.2,"4,878","4,029",+21.1,"59,661","53,942",+10.6,"13,670",...,-13.3,"36,004","43,388",-17.0,"12,816","21,936",-41.6,"133,731","142,019",-5.8
Latvia,84,86,-2.3,126,32,+293.8,0,0,,36,...,+9.1,763,772,-1.2,334,279,+19.7,"1,343","1,202",+11.7
Lithuania,161,128,+25.8,296,150,+97.3,"1,341",918,+46.1,73,...,+14.1,525,697,-24.7,440,175,+151.4,"2,836","2,132",+33.0
Luxembourg,"1,167",779,+49.8,319,396,-19.4,957,847,+13.0,0,...,,867,"1,042",-16.8,408,572,-28.7,"3,718","3,636",+2.3
Malta,211,253,-16.6,44,61,-27.9,134,118,+13.6,0,...,,228,173,+31.8,23,11,+109.1,640,616,+3.9
Netherlands,"11,157","8,702",+28.2,"5,401","4,991",+8.2,"9,533","10,082",-5.4,55,...,-75.1,"6,388","10,133",-37.0,270,263,+2.7,"32,804","34,392",-4.6
Poland,"1,121","1,116",+0.4,"1,532","1,092",+40.3,"22,451","20,524",+9.4,969,...,-30.0,"14,496","15,785",-8.2,"3,679","2,894",+27.1,"44,248","42,796",+3.4
Portugal,"3,265","2,494",+30.9,"1,940","2,168",-10.5,"3,311","2,565",+29.1,"1,125",...,+2.1,"3,771",5.851,-35.5,"1,092","1,557",-29.9,"14,504","15,737",-7.8
Romania,"1,164","1,631",-28.6,0,0,,"5,284","4,215",+25.4,"1,511",...,+20.2,"3,002","3,929",-23.6,959,"1,701",-43.6,"11,920","12,733",-6.4
Slovakia,203,217,-6.5,250,242,+3.3,"2,241","2,454",-8.7,114,...,-47.2,"2,784","3,494",-20.3,"1,013","1,312",-22.8,"6,605","7,935",-16.8
Slovenia,442,277,+59.6,177,28,+532.1,500,586,-14.7,23,...,+4.5,"2,952","2,843",+3.8,921,817,+12.7,"5,015","4,573",+9.7
Spain,"5,012","3,376",+48.5,"5,242","4,578",+14.5,"32,666","26,455",+23.5,"3,105",...,+12.7,"21,322","23,988",-11.1,"4,975","7,538",-34.0,"72,322","68,689",+5.3
Sweden,"5,660","4,911",+15.3,"4,464","4,088",+9.2,"3,062","1,838",+66.6,"1,678",...,+147.5,"3,811","3,929",-3.0,957,"1,717",-44.3,"19,632","17,161",+14.4
EUROPEAN UNION,"124,341","92,781",+34.0,"61,406","67,116",-8.5,"290,014","244,858",+18.4,"27,735",...,-16.3,"244,763","301,678",-18.9,"82,942","113,680",-27.0,"831,201",853.249,-2.6
Iceland,226,169,+33.7,186,90,+106.7,61,72,-15.3,0,...,,53,42,+26.2,68,84,-19.0,594,457,+30.0
Norway,"8,954","4,717",+89.8,95,94,+1.1,124,164,-24.4,0,...,,33,44,-25.0,137,103,+33.0,"9,343","5,122",+82.4
Switzerland,"2,910","2,364",+23.1,"1,355","1,582",-14.3,"5,478","4,620",+18.6,2,...,-71.4,"3,822","4,965",-23.0,"1,221","1,698",-28.1,"14,788","15,236",-2.9
EFTA,"12,090","7,250",+66.8,"1,636","1,766",-7.4,"5,663","4,856",+16.6,2,...,-71.4,"3,908","5,051",-22.6,"1,426","1,885",-24.4,"24,725","20,815",+18.8
United Kingdom,"29,634","20,935",+41.6,"12,598","11,944",+5.5,"51,785","47,435",+9.2,0,...,,"41,630","58,236",-28.5,"3,698","4,326",-14.5,"139,345","142,876",-2.5
EU + EFTA + UK,"166,065","120,966",+37.3,"75,640","80,826",-6.4,"347,462","297,149",+16.9,"27,737",...,-16.3,"290,301","364,965",-20.5,"88,066","119,891",-26.5,"995,271","1,016,940",-2.1

In [23]:
df.loc[[
    'Bulgaria',
    'Cyprus',
    'Denmark',
    'Ireland',
    'Latvia',
    'Luxembourg', 
    'Malta',
    'Romania', 
    'Iceland', 
    'Norway',
    'United Kingdom'
]].T

,Bulgaria,Cyprus,Denmark,Ireland,Latvia,Luxembourg,Malta,Romania,Iceland,Norway,United Kingdom
0,142,149,"6,961","4,923",84,"1,167",211,"1,164",226,"8,954","29,634"
1,162,65,"3,117","4,093",86,779,253,"1,631",169,"4,717","20,935"
2,-12.3,+129.2,+123.3,+20.3,-2.3,+49.8,-16.6,-28.6,+33.7,+89.8,+41.6
3,38,93,190,"4,915",126,319,44,0,186,95,"12,598"
4,49,68,366,"2,999",32,396,61,0,90,94,"11,944"
5,-22.4,+36.8,-48.1,+63.9,+293.8,-19.4,-27.9,,+106.7,+1.1,+5.5
6,78,689,"1,377","8,725",0,957,134,"5,284",61,124,"51,785"
7,61,679,"1,746","7,761",0,847,118,"4,215",72,164,"47,435"
8,+27.9,+1.5,-21.1,+12.4,,+13.0,+13.6,+25.4,-15.3,-24.4,+9.2
9,0,0,0,0,36,0,0,"1,511",0,0,0
10,0,0,0,0,33,0,0,"1,257",0,0,0
11,,,,,+9.1,,,+20.2,,,
12,"2,228",609,"1,955","9,454",763,867,228,"3,002",53,33,"41,630"
13,"3,270",630,"3,277","9,729",772,"1,042",173,"3,929",42,44,"58,236"
14,-31.9,-3.3,-40.3,-2.8,-1.2,-16.8,+31.8,-23.6,+26.2,-25.0,-28.5
15,294,25,351,"5,456",334,408,23,959,68,137,"3,698"
16,435,85,333,"6,825",279,572,11,"1,701",84,103,"4,326"
17,-32.4,-70.6,+5.4,-20.1,+19.7,-28.7,+109.1,-43.6,-19.0,+33.0,-14.5
18,"2,780","1,565","10,834","33,473","1,343","3,718",640,"11,920",594,"9,343","139,345"
19,"3,977","1,527","8,839","31,407","1,202","3,636",616,"12,733",457,"5,122","142,876"
20,-30.1,+2.5,+22.6,+6.6,+11.7,+2.3,+3.9,-6.4,+30.0,+82.4,-2.5

<hr width=40%/>

#### NEW CAR REGISTRATIONS BY MANUFACTURER EU + EFTA + UK, 2025-January

![ACEA Press Release, page 6, NEW CAR REGISTRATIONS BY MANUFACTURER EU + EFTA + UK, 2025-Jan](samples/Press_release_car_registrations_January_2025_p6.png "NEW CAR REGISTRATIONS BY MANUFACTURER EU + EFTA + UK, page 6, ACEA Press Release, 2025-Jan")

c.f. NEW CAR REGISTRATIONS BY MANUFACTURER EU + EFTA + UK on page 6, [samples/Press_release_car_registrations_January_2025_rev.pdf](samples/Press_release_car_registrations_January_2025_rev.pdf)

In [24]:
%%time

table_data = extract_structured_data(model_id, table2_prompt, Jan2025_pdf, Table2)

CPU times: user 10.5 ms, sys: 820 μs, total: 11.3 ms
Wall time: 26.8 s

In [25]:
row_headers, data = [], []
for row in table_data.model_dump()['rows']:
    row_headers.append(row['name'])
    data.append(row['values'])

df = pd.DataFrame(data, index=row_headers)
df.replace('??', '', inplace=True)

print(df.shape)
print()
df

(46, 10)

,0,1,2,3,4,5,6,7,8,9
Volkswagen Group,27.0,25.1,"268,409","254,840",+5.3,27.0,25.1,"268,409","254,840",+5.3
Volkswagen,11.3,9.5,"112,844","96,817",+16.6,11.3,9.5,"112,844","96,817",+16.6
Skoda,6.0,6.1,"59,465","61,587",-3.4,6.0,6.1,"59,465","61,587",-3.4
Audi,4.9,5.2,"49,220","53,364",-7.8,4.9,5.2,"49,220","53,364",-7.8
Cupra,2.1,1.3,"20,855","13,310",+56.7,2.1,1.3,"20,855","13,310",+56.7
Seat,1.7,2.0,"17,161","20,062",-14.5,1.7,2.0,"17,161","20,062",-14.5
Porsche,0.8,0.9,"8,120","9,038",-10.2,0.8,0.9,"8,120","9,038",-10.2
Others,0.1,0.1,744,662,+12.4,0.1,0.1,744,662,+12.4
Stellantis,15.5,18.0,"154,079","183,319",-16.0,15.5,18.0,"154,079","183,319",-16.0
Peugeot,5.6,5.6,"55,445","57,390",-3.4,5.6,5.6,"55,445","57,390",-3.4
Opel/Vauxhall,2.9,3.9,"28,449","39,355",-27.7,2.9,3.9,"28,449","39,355",-27.7
Citroen,2.7,3.2,"27,170","32,658",-16.8,2.7,3.2,"27,170","32,658",-16.8
Fiat,2.4,2.9,"23,608","29,650",-20.4,2.4,2.9,"23,608","29,650",-20.4
Jeep,1.1,1.2,"10,984","12,154",-9.6,1.1,1.2,"10,984","12,154",-9.6
Alfa Romeo,0.5,0.4,"4,792","3,950",+21.3,0.5,0.4,"4,792","3,950",+21.3
DS,0.2,0.4,"2,191","3,717",-41.1,0.2,0.4,"2,191","3,717",-41.1
Lancia/Chrysler,0.1,0.4,"1,052","3,926",-73.2,0.1,0.4,"1,052","3,926",-73.2
Others,0.0,0.1,388,519,-25.2,0.0,0.1,388,519,-25.2
Renault Group,9.8,9.1,"97,910","92,897",+5.4,9.8,9.1,"97,910","92,897",+5.4
Dacia,4.9,5.1,"48,998","51,666",-5.2,4.9,5.1,"48,998","51,666",-5.2
Renault,4.9,4.0,"48,443","41,020",+18.1,4.9,4.0,"48,443","41,020",+18.1
Alpine,0.0,0.0,469,211,+122.3,0.0,0.0,469,211,+122.3
Hyundai Group,8.4,8.5,"83,297","86,540",-3.7,8.4,8.5,"83,297","86,540",-3.7
Kia,4.2,4.4,"41,762","44,737",-6.6,4.2,4.4,"41,762","44,737",-6.6
Hyundai,4.2,4.1,"41,535","41,803",-0.6,4.2,4.1,"41,535","41,803",-0.6
Toyota Group,8.1,8.3,"80,270","83,957",-4.4,8.1,8.3,"80,270","83,957",-4.4
Toyota,7.3,7.7,"72,804","78,761",-7.6,7.3,7.7,"72,804","78,761",-7.6
Lexus,0.8,0.5,"7,466","5,196",+43.7,0.8,0.5,"7,466","5,196",+43.7
BMW Group,7.1,7.1,"70,192","72,320",-2.9,7.1,7.1,"70,192","72,320",-2.9
BMW,6.0,6.0,"59,765","60,847",-1.8,6.0,6.0,"59,765","60,847",-1.8
Mini,1.0,1.1,"10,427","11,473",-9.1,1.0,1.1,"10,427","11,473",-9.1
Mercedes-Benz,5.7,5.3,"56,886","53,488",+6.4,5.7,5.3,"56,886","53,488",+6.4
Mercedes,5.6,5.0,"55,613","50,998",+9.0,5.6,5.0,"55,613","50,998",+9.0
Smart,0.1,0.2,"1,273","2,490",-48.9,0.1,0.2,"1,273","2,490",-48.9
Ford,3.2,3.5,"31,516","35,888",-12.2,3.2,3.5,"31,516","35,888",-12.2
Volvo Cars,2.5,2.6,"25,172","25,932",-2.9,2.5,2.6,"25,172","25,932",-2.9
Nissan,2.5,2.7,"25,108","27,212",-7.7,2.5,2.7,"25,108","27,212",-7.7
SAIC Motor,2.3,1.7,"22,994","16,807",+36.8,2.3,1.7,"22,994","16,807",+36.8
Suzuki,1.5,1.6,"14,469","15,812",-8.5,1.5,1.6,"14,469","15,812",-8.5
Jaguar Land Rover Group,1.1,1.2,"11,197","12,206",-8.3,1.1,1.2,"11,197","12,206",-8.3
Land Rover,1.0,1.0,"10,220","10,351",-1.3,1.0,1.0,"10,220","10,351",-1.3
Jaguar,0.1,0.2,977,"1,855",-47.3,0.1,0.2,977,"1,855",-47.3
Mazda,1.1,1.2,"11,064","12,606",-12.2,1.1,1.2,"11,064","12,606",-12.2
Tesla,1.0,1.8,"9,945","18,161",-45.2,1.0,1.8,"9,945","18,161",-45.2
Honda,0.5,0.6,"4,994","5,964",-16.3,0.5,0.6,"4,994","5,964",-16.3
Mitsubishi,0.3,0.5,"3,450","4,911",-29.7,0.3,0.5,"3,450","4,911",-29.7

----

In [26]:
# housekeeping...
for f in client.files.list():
    client.files.delete(name=f.name)