# Google's Gemini 2.0 

## Information Extraction: Tabular Data

In [ ]:
import os

GEMINI_API_KEY = os.environ["GEMINI_API_KEY"]

In [ ]:
import pandas as pd

from google import genai
from google.genai import types

from pydantic import BaseModel, Field

In [ ]:
# Create a client
client = genai.Client(api_key=GEMINI_API_KEY)

# Specify the model you are going to use
model_id =  "gemini-2.0-flash" # or "gemini-2.0-flash-lite-preview-02-05"  , "gemini-2.0-pro-exp-02-05"

----

#### PDF ...

Since the PDF file in our example is less than 20MB, we can send its contents inline with our request to the model.

In [ ]:
with open("samples/Press_release_car_registrations_February_2025.pdf", "rb") as f:
      file_bytes = f.read()

pdf_file_part = types.Part.from_bytes(
    data=file_bytes,
    mime_type='application/pdf',
)

----

### Function for calling the Google Gen AI model

* specifies JSON for the data returned
* sets the schema of the response

In [ ]:
def extract_structured_data(model_id:str, prompt:str, file_part:types.Part, response_schema:BaseModel):
    """Given the Google Gen AI model,
       a prompt for the model,
       the raw bytes from a PDF file (max. 20MB!) which we send inline with our request,
       and a schema for the structured response we wish to obtain:

       Return a structured response (MIME type application/json) for the given prompt.
    """
    response = client.models.generate_content(
        model=model_id,

        config=types.GenerateContentConfig(
            system_instruction=SYSTEM_LEVEL_INSTRUCTION,
            response_mime_type='application/json', 
            response_schema=response_schema,
            seed=888
        ),
        
        contents=[
            file_part,            
            prompt,
        ]
    )
    
    # Convert the response to the Pydantic model and return it
    return response.parsed

----

In [ ]:
SYSTEM_LEVEL_INSTRUCTION = (
    "You are an expert data analyst, specializing in information extraction from PDFs.  "
    "You especially enjoy parsing out tabular data, always being completely accurate when extracting table parts "
    "such as the row and column headers, and table cells. "
    "You always understand the layout of a table, and know how to return empty values."
).strip()

----

### ACEA Press Release, 2025-Feb

![ACEA Press Release, page 3, NEW CAR REGISTRATIONS BY MARKET AND POWER SOURCE MONTHLY, 2025-Feb](samples/Press_release_car_registrations_February_2025_p3.png "NEW CAR REGISTRATIONS BY MARKET AND POWER SOURCE MONTHLY, page 3, ACEA Press Release, 2025-Feb")

c.f. NEW CAR REGISTRATIONS BY MARKET AND POWER SOURCE MONTHLY on page 3, [samples/Press_release_car_registrations_February_2025.pdf](samples/Press_release_car_registrations_February_2025.pdf)

### Pydantic models describing the response structure

#### NEW CAR REGISTRATIONS BY MARKET AND POWER SOURCE MONTHLY

c.f. page 3 of the PDF

In [ ]:
class Table1Row(BaseModel):
    name: str = Field(description="This field is the name of the country or geopolitical entity in the header of each table row")

    values: list[str] = Field(description=(
        "This is a list of cell values making up a single row in the table. Represent a missing value with ??"
    ))

class Table1(BaseModel):
    data: list[Table1Row] = Field(description=(
        "This is a list of the Table1Row objects that make up a row of data in the NEW CAR REGISTRATIONS BY MARKET AND POWER SOURCE MONTHLY table."
    ))

In [ ]:
%%time

prompt="""
Extract all columns for major column categories of BATTERY ELECTRIC, PLUG-IN HYBRID, HYBRID ELECTRIC, OTHERS, PETROL, DIESEL, and TOTAL in the NEW CAR REGISTRATIONS BY MARKET AND POWER SOURCE, MONTHLY table in the given PDF.

For each major column category, you must extract 3 values for: current month in current year, current month in previous year, and % change current yy / previous yy.

Scan each table row from left to right, representing all missing cell values with double question marks.

Represent missing % change year-on-year values with double question marks.

There will be 34 rows and 21 columns.

DO NOT MAKE UP CELL VALUES!
""".strip()


tidy_data = extract_structured_data(model_id, prompt, pdf_file_part, Table1)

In [ ]:
row_headers, data = [], []
for row in tidy_data.model_dump()['data']:
    row_headers.append(row['name'])
    data.append(row['values'])

df = pd.DataFrame(data, index=row_headers)
df.replace('??', '', inplace=True)

print(df.shape)
print()
df

In [ ]:
df.loc[[
    'Austria',
    'Bulgaria',
    'Cyprus',
    'Denmark',
    'Ireland',
    'Latvia',
    'Luxembourg', 
    'Malta',
    'Romania',    # empty values at indices 3, 4, 6!
    'Iceland', 
    'Norway',
    'United Kingdom'
]].T

In [ ]:
df.to_csv('samples/acea_1_202502_raw.csv', encoding='CP932', header=False)

----

### Pydantic models describing the response structure

#### NEW CAR REGISTRATIONS BY MANUFACTURER EU + EFTA + UK

![ACEA Press Release, page 6, NEW CAR REGISTRATIONS BY MANUFACTURER EU + EFTA + UK, 2025-Feb](samples/Press_release_car_registrations_February_2025_p6.png "NEW CAR REGISTRATIONS BY MANUFACTURER EU + EFTA + UK, page 6, ACEA Press Release, 2025-Feb")

c.f. NEW CAR REGISTRATIONS BY MANUFACTURER EU + EFTA + UK on page 6, [samples/Press_release_car_registrations_February_2025.pdf](samples/Press_release_car_registrations_February_2025.pdf)

In [ ]:
class ACEARow2(BaseModel):
    name: str = Field(description="This field is the name of the automanufacturer group or company in the header of each table row")

    values: list[str] = Field(description=(
        "This is a list of cell values making up a single row in the table. There are exactly 10 cell values for each row. Represent a missing value with ??"
    ))

class ACEATable2(BaseModel):
    data: list[ACEARow2] = Field(description=(
        "This is a list of the ACEARow2 objects. There are exactly 46 rows in the NEW CAR REGISTRATIONS BY MANUFACTURER EU + EFTA + UK table."
    ))

In [ ]:
%%time

prompt="""
Extract all table values in the NEW CAR REGISTRATIONS BY MANUFACTURER EU + EFTA + UK table in the given PDF.

Extract all columns for major column categories of FEBRUARY and JANURARY-FEBRUARY.

For each major column category, you must extract:
- 2 values for % share 2025 and 2024
- 2 values for Units 2025 and 2024
- 1 value for % change 25/24
Scan each table row from left to right, representing all missing cell values with double question marks.

Do not return the column headers.

For the row headers, please leave out any superscript numeric characters. For example "Others^2" is simply "Others".

There will be 46 rows and 10 columns.

DO NOT MAKE UP CELL VALUES!
""".strip()

tidy_data = extract_structured_data(model_id, prompt, acea_202502, ACEATable2)

In [ ]:
row_headers, data = [], []
for row in tidy_data.model_dump()['data']:
    row_headers.append(row['name'])
    data.append(row['values'])

df = pd.DataFrame(data, index=row_headers)
df.replace('??', '', inplace=True)

print(df.shape)
print()
df

In [ ]:
df.to_csv('samples/acea_2_202502_raw.csv', encoding='CP932', header=False)

<hr width=40%/>

In [ ]:
# housekeeping...
for f in client.files.list():
    client.files.delete(name=f.name)

----

#### Gemini 2.0 Flash with only a prompt

saintmarc_hd_20250213 = client.files.upload(
    file="samples/saintmarc-hd_20250213.pdf", 
    config={
        'mime_type': 'application/pdf',
        'display_name': 'saintmarc-hd_20250213.pdf'
    }
)

saintmarc_hd_20250313 = client.files.upload(
    file="samples/saintmarc-hd_20250313.pdf", 
    config={
        'mime_type': 'application/pdf',
        'display_name': 'saintmarc-hd_20250313.pdf'
    }
)

acea_202502 = client.files.upload(
    file="samples/Press_release_car_registrations_February_2025.pdf", 
    config={
        'mime_type': 'application/pdf',
        'display_name': 'Press_release_car_registrations_February_2025.pdf'
    }
)

for uploaded_file in (saintmarc_hd_20250213, saintmarc_hd_20250313, acea_202502):
    file_size = client.models.count_tokens(
        model=model_id,
        contents=uploaded_file
    )

    print(f'File: {uploaded_file.display_name} contains {file_size.total_tokens} tokens')

%%time

prompt="""
    You are an expert at locating tabular data in PDFs and extracting the exact information from all parts of a table, 
    such as the row and column headers, and table cells. You always understand the layout of a table, and know how to return empty values.

    Extract the entire contents of the NEW CAR REGISTRATIONS BY MARKET AND POWER SOURCE, MONTHLY table on page 3 in the given PDF.
    Extrace the table contents as Markdown.

    Instructions for the column headers:
    - The column headers are NOT required. Do NOT return them.

    Instructions for the row headers:
    - Make sure that for the rows that start with a country or geopolitical entity.
    
    Instructions for the table cells:
    - In each row for a country or geopolitical entity, there are exactly 21 values + 1 for the row header.
    - Therefore, each table row is represented with exactly 23 | characters.
    - If a cell value is 0, then please return 0.
    - If a value is missing or empty, please represent it with an empty string.
    - For example, a section of three empty values might look like |   |   |   |
""" 

response = client.models.generate_content(
    model=model_id,
    contents=[acea_202502, prompt]
)

print(response.text)
print()

----

%%time

prompt="""
    You are an expert at locating tabular data in PDFs and extracting the exact information from all parts of a table, 
    such as the row and column headers, and table cells. You always understand the layout of a table, and know how to return empty values.

    Extract the entire contents of the NEW CAR REGISTRATIONS BY MANUFACTURER, EU + EFTA + UK table on the last page in the given PDF.
    Extrace the table contents as Markdown.

    Instructions for the column headers:
    - The column headers are NOT required. Do NOT return them.

    Instructions for the row headers:
    - The row headers are required. Make sure that for the rows that start with the name of an automobile manufacturer, or Others.
    - Leave out an superscript characters: Others2 is just O
    
    Instructions for the table cells:
    - In each row for an automobile manufacturer, there are exactly 10 values.
    - You must accurately extract the numerical value. NO MISTAKES!
""" 

response = client.models.generate_content(
    model=model_id,
    contents=[acea_202502, prompt]
)

print(response.text)
print()

----

### Gemini 2.0 Flash with prompt + structured response instruction: Tidy data formatting

Extracting the table from the Saint-Marc Holdings PDF.

class TidyRow(BaseModel):
    """ Model for a tidy row of the tabular data in the Saint-marc HD PDF """

    year: str = Field(description="This field is the yyyy value from the 年度 column")

    month: str = Field(description=(
        "This field may takes one of 15 values from the column headers: "
        "1月, 2月, 3月, 4月, 5月, 6月, 7月, 8月, 9月, 10月, 11月, 12月, 下期, 上期, 通期."
    ))
    #month: str = Field(description=(
    #    "This field may takes one of 15 values from the column headers: "
    #    "1月, 2月, 3月, 4月, 5月, 6月, 7月, 8月, 9月, 10月, 11月, 12月, 下期, 上期, 通期. "
    #    "Please remove any 月 characters. Also please replace 下半期 with 下期, and 上半期 with 上期"
    #))

    cat1: str = Field(description="This field is always 月次売上情報")
    
    cat2: str = Field(description="This field is always 昨年対比")
    
    cat3: str = Field(description="This field has a value that is either 全店 or 既存店")
    
    value: str = Field(description=(
        "This field holds the table cell value, which is a floating point number "
        "with exactly one decimal place, or it is a whitespace indicating a blank value"
    ))
    #value: str = Field(description=(
    #    "This field holds the table cell value, which is a floating point number "
    #    "with exactly one decimal place. Please divide this by 100.00, "
    #    "and show this new floating point to 3 decimal places."
    #))

class TidyData(BaseModel):
    data: list[TidyRow] = Field(description="The list of TidyRow with year, month, cat1, cat2, cat3, and value fields")

<hr width=40%/>

### Saint-marc HD PDF for 2025-Jan 月次売上情報

![Saint-marc HD PDF for 2025-Jan 月次売上情報](samples/saintmarc-hd_20250213.pdf.png "Saint-marc HD PDF for 2025-Jan 月次売上情報")

%%time

prompt = """
Extract the 月次売上情報 table in the following PDF file in TidyData format
""".strip()

# let's try the Saint-marc HD 20250213 PDF: this is the relatively clean table
# ... text 
tidy_data = extract_structured_data(model_id, prompt, saintmarc_hd_20250213, TidyData)

smhd_202502_df = pd.DataFrame(tidy_data.model_dump()['data'])

# we expect 84 - 6 = 78 values in the tidy data
print(smhd_202502_df.shape)
print(f"\n{smhd_202502_df.iloc[28:43]}")

<hr width=40%/>

### Saint-marc HD PDF for 2025-Feb 月次売上情報

![Saint-marc HD PDF for 2025-Feb 月次売上情報](samples/saintmarc-hd_20250313.pdf.png "Saint-marc HD PDF for 2025-Feb 月次売上情報")

%%time

prompt = """
Extract the 月次売上情報 table in the following PDF file in TidyData format
""".strip()

# let's try the Saint-marc HD 20250213 PDF: this is the relatively clean table
# ... text 
tidy_data = extract_structured_data(model_id, prompt, saintmarc_hd_20250313, TidyData)

smhd_202503_df = pd.DataFrame(tidy_data.model_dump()['data'])

# we expect 84 - 4 = 80 values in the tidy data this time
print(smhd_202503_df.shape)
print(f"\n{smhd_202503_df.iloc[68:]}")

----

for f in client.files.list():
    client.files.delete(name=f.name)